[2017-04-02 04:20] Dhananjayulu commented on #428
Awesome. Suggestion worked well with both docker run and docker-compose!

Thanks very much @tparikka

[2017-04-02 04:59] Dhananjayulu opened #433 "Is selenium-hub /chrome node supports Watir and page objects gems ?"
Issue: Chrome is not lunching in chrome nod (Docker container) Watir browser Capabilities, but works well when I tried with Selenium::WebDriver.

**here is the hooks file looks like:**

**Watir ( not working with Watir)**

require 'watir'
require 'selenium-webdriver'

Before do

    caps = {
       :browserName => "Chrome"
     }

   @browser = Watir::Browser.new(:remote,
       :url => 'http://lo

[2017-04-02 10:13] lasotaartur commented on #431
I checked version 3.2.0 and 3.3.0 but did not work. :/

[2017-04-02 10:17] lasotaartur commented on #431
Is there somewhere logs from chromium to check reason of this situation?

[2017-04-02 11:20] tparikka commented on #428
You're welcome! If all your questions are answered can you please close this GitHub issue? Thanks!

[2017-04-02 17:23] tparikka commented on #431
You can get logs from the container with the command `docker logs <containername|containerid>`. I'm out of other ideas - you've already mapped /dev/shm:/dev/shm and set shm_size as recommended by all the articles I had read and all of the info I was able to dig up. Maybe others here will know more?

[2017-04-02 19:36] ddavison commented on #428
thanks @tparikka :)

[2017-04-02 19:36] #428 closed

[2017-04-02 19:37] ddavison commented on #430
they aren't because the build is botched.  gotta figure out what's going on.  while at the conference - i'll be figure out what the heck happened.

[2017-04-02 19:39] ddavison commented on #431
it's also possible the app you are automating has some sort of javascript that is killing the page.  Also, @lasotaartur next time you open an issue here, please keep the template that you were given when you clicked "New Issue", that'helps with the diagnostics :)  thanks!

[2017-04-02 19:43] ddavison commented on #433
Watir is just a wrapper around Selenium, and we support everything Selenium does.

You didn't follow the format of the [GitHub Issue Template](https://github.com/seleniumhq/docker-selenium/blob/master/.github/ISSUE_TEMPLATE.md) so i can't tell from this issue what the actual error is.

More likely than not - you probably don't have any nodes connected to the hub

[2017-04-02 19:43] ddavison commented on #433
@titusfortner (for your edification)

[2017-04-02 19:54] ddavison commented on #197
ultimately it would depend on what sort of resources you are devoting to the docker machine from the host.  that being said,  there is no "clear distinction" where the thresholds are.

If you find it, let me know and we can create a wiki page on it!

[2017-04-02 19:54] #197 closed

[2017-04-03 12:00] bvkatwijk commented on #431
We are experiencing the same issue using selenium/node-chrome:

`org.openqa.selenium.WebDriverException: unknown error: session deleted because of page crash
from unknown error: cannot determine loading status
from tab crashed
  (Session info: chrome=57.0.2987.110)
  (Driver info: chromedriver=2.28.455506 (18f6627e265f442aeec9b6661a49fe819aeeea1f),platform=Linux 3.16.0-4-amd64 x86_64) (WARNING: Th

[2017-04-03 13:48] enroxorz commented on #430
+1 Thank you

[2017-04-03 15:11] lasotaartur commented on #431
Now I'm using selenium/standalone-chrome-debug:3.3.0, chrome standalone version with debug and this problem appears less often.

[2017-04-03 16:42] cmosher01 commented on #425
Does it make sense to prevent failing builds from getting into the "latest" docker-hub image?

[2017-04-03 16:49] testphreak commented on #425
@cmosher01, yes it does. You always want your unit and integration tests to pass before you deploy a service for general consumption.

[2017-04-03 16:51] testphreak commented on #430
Sounds good @ddavison

[2017-04-03 17:09] ylavoie commented on #161
I was looking for that too. I'm almost done, Hub & Firefox are working on Alpine, Chrome & PhantomJS will soon. I will PR my proposal.

[2017-04-03 18:32] andrerom commented on #161
@ylavoie Found a way around issues in #224, or are they solved in alpine now?

[2017-04-03 19:38] elgalu commented on #431
@lasotaartur you mention you are using docker in docker, did you try to `-v /dev/shm:/dev/shm` in the parent image? so the shm is shared properly downstream.

[2017-04-03 20:12] lasotaartur commented on #431
What is parent image? You think about container in which is execute docker-compose up ? I tought that I must do this volume mapping on selenium container.

[2017-04-03 22:50] elgalu commented on #431
Yes, give you run docker inside docker I think this also need to be done in the container that runs docker-compose up, so you need to do it in both sides else you will just be shared an already small `shm`

[2017-04-04 01:22] dforrest88 opened #434 "Unable to pull latest image of selenium/node-phantomjs"
I am unable to pull the latest tag of the node-phantomjs image. Others have also left comments on Docker Hub that they are experiencing the same problem.

`dforrest-ltm:.ssh dforrest$ docker pull selenium/node-phantomjs
Using default tag: latest
Error response from daemon: manifest for selenium/node-phantomjs:latest not found
dforrest-ltm:.ssh dforrest$ docker pull selenium/node-phantomjs:3.3.0
3.

[2017-04-04 04:25] brandomr commented on #397
Any update on this? I'm experiencing this issue with the latest docker image and am not sure if there is a solution based on @jackTheRipper 's testing.

[2017-04-04 05:16] jackTheRipper commented on #397
Hi @brandomr my testings (available in the Fiat I shared earlier) are showing that with my PR it works :)

Feel free to give it a try. Let me know if you have an issue (if you could provide the logs it would be lovely).

[2017-04-04 05:57] brandomr commented on #397
@jackTheRipper great I'll give it a shot. Thanks!

[2017-04-04 13:51] bscheshirwork opened #435 "[Facebook\WebDriver\Exception\UnknownCommandException] mouseMoveTo"
## Meta -
Image(s):
standalone-firefox
Docker Version:  Docker version 17.03.0-ce, build 60ccb22
OS: Ubuntu 16.04
## Expected Behavior -
mouse move
## Actual Behavior -
unknown command mouseMoveTo
https://github.com/Codeception/Codeception/issues/4104

[2017-04-04 14:45] marten-cz commented on #434
I'll push fix tonight.

[2017-04-04 15:56] jaeckmar commented on #401
I recently used SE_OPTS instead of REMOTE_HOST variable but it doesn't work.

`docker run -d -p $HUB_PORT:5555 -p $VNC_PORT:5900 -e SE_OPTS="-host $DOCKER_HOST_IP -port $HUB_PORT -browser browserName=firefox,maxInstances=1" -e HUB_PORT_4444_TCP_ADDR=<myjenkinsdns> -e HUB_PORT_4444_TCP_PORT=4444 --name $CONTAINER_NAME-$n selenium/node-$BROWSER:$SELENIUM_VERSION`

where parameters are like this
CONT

[2017-04-04 20:00] ddavison commented on #425
@tparikka think you'd be able to help out and fix that circle ci thing :D 😺

[2017-04-04 20:24] rosskevin opened #437 "Failed to load resource: net::ERR_EMPTY_RESPONSE - standalone chrome"
## Meta -
Image(s):
`selenium/standalone-chrome` 3.1.0, 3.2.0, 3.3.0
Docker Version:
`17.03.0-ce, build 60ccb22` and `17.03.1-ce, build c6d412e`
OS:
`OSX`

## Expected Behavior -
Run continuously without intermittent hang on page load or ajax request

## Actual Behavior -
When running CI tests, chrome will eventually start presenting `Failed to load resource: net::ERR_EMPTY_RESPONSE` in the consol

[2017-04-04 21:10] rosskevin commented on #437
To follow this up, I'm running into `Net::ReadTimeout` when trying to run the same tests with `selenium/standalone-firefox:3.2.0`.  Since I [cannot get the firefox console logs](https://github.com/seleniumhq/selenium/issues/1161), I'm not able to provide much more information, but it exhibits the same intermittent behavior, then eventually it crashes with:

[code]

[firefox_log.txt](https://github

[2017-04-04 21:39] brandomr commented on #397
@jackTheRipper I built from your PR but still get crashes with `standalone-firefox`. Is it just fixed for `node-firefox`?

[2017-04-04 21:46] tparikka opened #439 "CONTRIBUTING.md Points To Selenium Archive Page"
Not related to code at all.

The CONTRIBUTING.md file currently points at https://code.google.com/p/selenium/wiki/CommitYourCode, which redirects to the Google Code Issue Archive at https://github.com/seleniumhq/selenium-google-code-issue-archive. Assuming that the correct location for up to date contributor guidelines is [CONTRIBUTING.md at the parent Selenium project](https://github.com/Selenium

[2017-04-04 21:51] ddavison commented on #439
Yes absolutely.  i'd definitely like if it were to be pointing to https://github.com/SeleniumHQ/selenium/blob/master/CONTRIBUTING.md

[2017-04-05 00:28] Dhananjayulu opened #441 "Selenium hub and Chrome Node issue with Selenium WebDriver Error ::NoSuchDriverError"
## Meta -
Image(s):
node-chrome and hub
Docker Version:
 Docker version 1.12.0, build 8eab29e
OS:
Ubuntu 14.02

## Expected Behavior -
Test scripts should lunch successfully in chrome node container without driver issues
## Actual Behavior -

Selenium::WebDriver::Error::NoSuchDriverError: Build info: version: '3.2.0', revision: '8c03df6', time: '2017-03-02 09:34:51 -0800'
System info: host: 'abcd'

[2017-04-05 00:31] Dhananjayulu commented on #433
Thank for clarification!

[2017-04-05 00:31] #433 closed

[2017-04-05 00:48] DerFlatulator commented on #430
Is there a version to roll back to that didn't have the 3.3.0 connectivity issues?

[2017-04-05 05:06] tparikka commented on #430
@DerFlatulator If you're referring to #425 I have had great success with selenium/hub:3.2.0 and selenium/node-chrome:3.2.0 (as well as node-chrome-debug). However, depending on how heavy you are hitting your Grid you will want to be aware of docker/for-win#426, which the Docker for Windows team is working on - I've had to stop using containers for the moment because under heavy load the VPNKit com

[2017-04-05 05:15] DerFlatulator commented on #430
@tparikka Thanks for that. I'll give 3.2.0 a shot while the 3.3.1 image is being sorted out.

[2017-04-05 09:21] jackTheRipper commented on #397
@brandomr : I am using currently this node: https://hub.docker.com/r/travix/selenium-node-firefox/

I don't have any issues with my testing environment for now.

[2017-04-05 13:23] bscheshirwork opened #442 "3.3.1"
So... Its new release for hub.docker.com?
 7 days ago
3.3.1-arsenic

3.3.0 version won't work properly with latest Firefox/Geckodriver.

[2017-04-05 14:09] rnemeth1980 commented on #359
Using VMs starting the node I set the profile with “-Dwebdriver.firefox.profile=seleniumuser” for Selenium Grid.

Using Docker as I understand /opt/selenium/generate_config is used to configure the node.

echo "
{
  \"capabilities\": [
    {
      \"version\": \"$FIREFOX_VERSION\",
      \"browserName\": \"firefox\",
      \"maxInstances\": $NODE_MAX_INSTANCES,
      \"seleniumProtocol\": \"WebDri

[2017-04-05 17:20] rosskevin commented on #437
This appears to be a memory leaking application.  I can only run 46 sign in/out combinations before both the selenium/standalone-chrome or my native osx browser break.

[2017-04-05 18:44] jaymagpantay opened #443 "GRID_UNREGISTER_IF_STILL_DOWN_AFTER not propagating to nodes"
## Meta -
Image(s):
selenium/hub, node-chrome-debug

I'm running a selenium hub container with the following command:
docker run -d -e GRID_UNREGISTER_IF_STILL_DOWN_AFTER=300000 --name selenium-hub -p 4444:4444 selenium/hub

Afterwards, I launch a node-chrome-debug container.

## Expected Behavior -
In the grid console, viewing the configuration machine should show unregisterIfStillDownAfter: 3000

[2017-04-05 19:44] brandomr commented on #388
@sourcerer-mike did you ever resolve this? I'm getting the same thing.

[2017-04-05 20:27] ddavison commented on #439
fixed from #440

[2017-04-05 20:27] #439 closed

[2017-04-05 20:30] brandomr commented on #397
Ok, I'll give that a shot. Thanks!

[2017-04-06 02:22] DerFlatulator commented on #442
See #430

[2017-04-06 14:02] METAJIJI commented on #423
Fix PR here https://github.com/SeleniumHQ/docker-selenium/pull/445

[2017-04-06 19:25] Dhananjayulu commented on #441
Issue got fixed once I build the images and run selenium hub and node containers

[2017-04-06 19:25] Dhananjayulu commented on #441
closing

[2017-04-06 19:25] #441 closed

[2017-04-06 19:49] vgoklani opened #446 ""java.lang.NullPointerException""
I ran the following

    docker run -d -p 4444:4444 -e JAVA_OPTS=-Xmx512m --name selenium-hub selenium/hub

opened a browser on my mac with this link: http://127.0.0.1:4444/wd/hub

and saw this:

		{
		status: 13,
		value: {
		class: "java.lang.NullPointerException",
		stackTrace: [
		{
		fileName: "ExternalSessionKey.java",
		className: "org.openqa.grid.internal.ExternalSessionKey",
		methodName:

[2017-04-07 09:29] marten-cz commented on #434
@ddavison Can you please try to build phantomjs image and pushed it docker hub? This issue should be fixed.

[2017-04-07 23:04] diemol commented on #446
@vgoklani
That is the correct output for that url.

If you want to see the grid console, go to http://127.0.0.1:4444/grid/console

[2017-04-07 23:13] diemol commented on #435
As mentioned in https://github.com/Codeception/Codeception/issues/4104#issuecomment-291508538, it is a problem related to the Firefox driver, not related to docker-selenium.

@bscheshirwork can you please close this issue?

[2017-04-09 11:42] NiGhTTraX opened #447 "I/O Read timed out"
## Meta

Images: (hub + node-chrome + node-firefox) 3.2.0
OS: Ubuntu

## Setup

I'm spinning up a hub container and 1 Chrome node and 1 Firefox node and linking them via docker-compose. My tests are running in a nodejs container that has a link to the hub. I'm starting 2 of those containers, one requesting a Chrome session, one requesting a Firefox session.

This is my [compose file](https://githu

[2017-04-10 10:59] #435 closed

[2017-04-10 16:38] tparikka commented on #443
In looking at the [Dockerfile](https://github.com/tparikka/docker-selenium/blob/master/Hub/Dockerfile.txt) and the [generate_config](https://github.com/tparikka/docker-selenium/blob/master/Hub/generate_config) script for the hub, passing the env variable GRID_UNREGISTER_IF_STILL_DOWN_AFTER into the hub is correctly adding an attrib/val pair to the config file. However, looking at the sample JSON f

[2017-04-10 18:57] ddavison commented on #443
you're absolutely right @tparikka , would definitely appreciate a PR!  thanks 👍

[2017-04-10 20:32] tparikka commented on #443
@ddavison I have the PR started, and changes made to the Hub, NodeChrome, and NodeFirefox. While working on it I found that NodeChromeDebug, NodeFirefoxDebug, and NodePhantomJS lack a generate_config script but do have an entry_point.sh. In the case of the first two, are they inheriting the generate_config from their non-debug variants or would it be a separate feature request to add that support

[2017-04-10 21:08] scoderp commented on #198
@piotrmasior How did you solve the port failures?

[2017-04-10 23:21] qwebek commented on #198
It appeared that latest firefox works with gekodriver which in its turn
works badly with latest selenium onCI hesdless, same with chromedriver but
a bit better, still reverting to older version of selenium ehich works
directly with browser solved problem for me, its version  <3 selenium i
think, hope helps to someone

11.04.2017 5:08 пользователь "Paul Schroeder" <notifications@github.com>
написал

[2017-04-11 02:40] scythargon opened #448 "Does StandaloneChrome image allows popups?"
## Meta -
Image(s):
StandaloneChrome
Docker version 17.03.0-ce, build 60ccb22
OS:
Ubuntu 16.10 (Yakkety Yak)

Hi! I open page that opens popup via window.open and I could not access this popup - it does not appear in `driver.window_handles`

[2017-04-11 10:26] beniamin-kis commented on #430
@ddavison any news yet?

[2017-04-11 12:57] setiseta commented on #430
There is also a new version of chromedriver: 2.29

[2017-04-11 15:40] beniamin-kis commented on #430
In the meantime, I cloned the repo and build the images myself (with VERSION=local)

[2017-04-11 16:05] tparikka commented on #430
@beniamin-kis What environment did you use to build? I gave it a shot with Cygwin on Windows 10 but I ran into issues first with EOL encoding issues in generate.sh and then got this error:

/bin/sh: 1: /opt/selenium/generate_config: not found

If it's possible to build on Windows with Cygwin I'd prefer that, but if it's not possible or it's just better to build on Linux I can spin up a VM and do i

[2017-04-11 16:30] beniamin-kis commented on #430
uhm, I used a mac. I'm not sure how could you do it on windows. maybe use the new bash for Windows?

[2017-04-11 19:57] #446 closed

[2017-04-11 21:20] tparikka commented on #442
@bscheshirwork As said above, there's already an issue open for the 3.3.1 build issues. Are you looking for help specifically with 3.3.0 and Firefox/Geckodriver as well, or can this be closed as duplicate of issue 430?

[2017-04-11 21:31] ddavison commented on #442
duplicate of #430

[2017-04-11 21:31] #442 closed

[2017-04-11 21:35] ddavison commented on #429
not going to happen. :no_mouth:  somebody could build this themselves but we won't be doing this.  Users don't browse websites using headless browsers.  closest we have is the phantomjs, and that'll do for now.

great idea though!

[2017-04-11 21:37] graingert commented on #429
Users don't browse is xvfb, what's your point?

[2017-04-12 01:29] ddavison commented on #429
no, users use the physical browser.  Xvfb allows the rendering of said physical browsers.

[2017-04-12 01:32] graingert commented on #429
Are you suggesting that chrome --headless behaves differently from chrome
under xvfb?

On 12 Apr 2017 02:29, "Dj" <notifications@github.com> wrote:

[2017-04-12 09:47] sporokh commented on #425
Just tested in my own environment:
Selenium 3.2.0 doesn't have this issue and works fine, while new version 3.3.0 cycling node to deregister every couple of seconds. Any fixes to 3.3.0?

[2017-04-12 11:58] setiseta commented on #430
@beniamin-kis what source you have used? in this repo or changed something? maybe you can provide this image's temporary on dockerhub until the official gets updated?

[2017-04-12 13:04] beniamin-kis commented on #430
I've just cloned the master branch of this repo, changed line 27 @ /NodeChrome/Dockerfile.txt:

 #==================
 # Chrome webdriver
 #==================
-ARG CHROME_DRIVER_VERSION=2.28
+ARG CHROME_DRIVER_VERSION=2.29

and then I've ran:

$ VERSION=local make build

[2017-04-12 21:17] tnguyen14 opened #449 "Build: tzdata is not installed"
When trying to build an image locally, I get the following error:

[code]

[2017-04-12 21:32] brajesheee opened #450 "Getting Session was terminated due to PROXY_REREGISTRATION Exception"
## Meta -
Image(s):
Chrome node ,
Docker Version:
3.3.1
OS:  Linux

## Expected Behavior -
Installed the hub and chrome node in docker using

docker run -d -p 32776:5900 -e GRID_BROWSER_TIMEOUT=5000 -e NODE_REGISTER_CYCLE=5000 --link selenium-hub:hub selenium/node-chrome-debug

docker run -d -p 32769:4444 --name selenium-hub -e GRID_TIMEOUT=240 -e GRID_BROWSER_TIMEOUT=240 -e GRID_NEW_SESSION_WAIT_

[2017-04-13 07:56] eitany commented on #449
I am hitting the same error. Looks like ubuntu:16.04 doesn't have tzdata installed. only after I ran apt-get update it became available but the order of commands in the base docker file is first to run the reconfigure then update

[2017-04-13 13:13] peterebden opened #454 "/wd/hub/status returns 500"
## Meta -
Image(s):
standalone-chrome
Docker Version:
3.3.0
OS:
Ubuntu 16.04

## Expected Behavior -
`curl http://localhost:4444/wd/hub/status` returns 200, as it did in older versions (e.g. 3.2.0)

## Actual Behavior -
`curl http://localhost:4444/wd/hub/status` returns 500 and the following:
[code]

[2017-04-13 13:21] diemol commented on #454
@peterebden that is a bug in Selenium 3.3.0, which was fixed in Selenium 3.3.1.

[2017-04-13 16:42] SpencerMalone commented on #429
PhantomJS' solo maintainer is leaving because of headless chrome. Can we reopen this discussion? (source: https://groups.google.com/forum/#!topic/phantomjs/9aI5d-LDuNE)

[2017-04-13 16:49] ddavison commented on #429
i guess i'm not familiar with chrome's headless mode.. tell me more, @graingert

[2017-04-13 16:51] graingert commented on #429
@ddavison you run `chrome --headless` and it's manages its own internal framebuffer, rather than needing X11

[2017-04-13 16:56] ddavison commented on #429
I think the biggest benefit that users find with the debug, is that you can VNC into it.  You're saying that this could be eliminated?  If that's the case, ok then.  sign me up - apologies for the abrupt closing.  An issue file with a very small description is dangerous as it leaves everything up to speculation :)

I wasn't familiar with chrome --headless (hence why i asked you to elaborate)

If t

[2017-04-13 19:45] #443 closed

[2017-04-13 20:02] gokulganthtm commented on #241
We have certain Automation Test which downloads reports from web appl and store in default downloads directory in chrome or firefox .......how does docker chrome or Firefox containers handle this ?
While ./bash into chrome containers ->  /opt directory has some files related to chrome but not any downloaded files
Mounting volumes while spinning up the containers and binding it with host machine di

[2017-04-13 20:10] #454 closed

[2017-04-13 20:10] ddavison commented on #449
fixed now. updated in 3.3.1-cesium

[2017-04-13 20:10] #449 closed

[2017-04-13 20:10] ddavison commented on #430
fixed in 3.3.1-cesium 👍

[2017-04-13 20:10] #430 closed

[2017-04-13 20:11] #427 closed

[2017-04-13 20:24] tparikka commented on #450
Can you check the docker logs for your node and see if you are actually encountering the issue described at #425 - the logs you posted are consistent with what I saw on the test side when my boxes were continually deregistering and re-registering.

[2017-04-13 20:25] ddavison commented on #434
should be fixed with 3.3.1-cesium (if it's not, we'll reopen)

[2017-04-13 20:25] #434 closed

[2017-04-13 20:27] tparikka commented on #448
I believe you should be able to access popups in the Chrome Standalone container just like if it was a local instance. What version of the container are you using? I.e. 3.3.1, 3.3.0, etc. Which Selenium bindings are you using and what code are you using to call into the handle list?

[2017-04-13 23:55] Zechtitus commented on #425
Just tried 3.3.1 - issue still present. 3.2.0 works fine as @sporokh mentioned.

[2017-04-14 12:46] derinbay opened #456 "Browser hangs inside of browser after executed"
## Meta -
Image(s):
selenium/node-chrome:3.3.1-cesium
Docker Version:
17.04.0-ce, build 4845c56
OS:
Ubuntu 16.04

When tests are executing with node-chrome container, some of the containers are hanging after open the browser, as far as I see from the logs. I'm experiencing this problem since 3.2.0-actinium.

But with node-chrome-debug this never happened.

docker logs 720a3571429d2d2aae6a31cf037c5

[2017-04-14 15:12] apakhomov opened #457 "Node*Debug variable for VNC port"
Hi!

I've moved to docker net=host configuration and it works well with headless containers. However there is a problem to launch multiple original debug images as vnc port is hardcoded in entry_point:

x11vnc -forever -usepw -shared -rfbport 5900 -display $DISPLAY &

Is there a chance of moving it to variables?

[2017-04-14 16:42] ddavison commented on #456
can I see the command you're using to run the containers?

[2017-04-14 16:49] ddavison commented on #457
the port that the container uses shouldn't matter.

you can forward the port to any port you want.  for example:

[code]

when you specify `-P`, docker will take any exposed ports from the container, and assign them a random port to the host.

[2017-04-14 16:54] derinbay commented on #456
I'm using a docker-compose file to run the containers:
[gist link](https://gist.github.com/derinbay/b3ff9593752bb09d80eea1d31e9dd43d)

[2017-04-14 17:00] ddavison commented on #456
you're setting `GRID_BROWSER_TIMEOUT`, is it possible that it's hitting that timeout?  we default this to "0" (indefinite)

[2017-04-14 17:04] derinbay commented on #456
I'm setting that in case of some browser is hanged. In this case it's starting the browser as far as I saw from the logs and wait for 5 mins (grid_browser_timeout). If I don't set, isn't it going forever, since the default is 0?

[2017-04-14 17:08] ddavison commented on #456
when this starts happening, is it just a few tests, then it breaks? or..

[2017-04-14 17:17] derinbay commented on #456
Yes, just a few random tests are hanging, about %10.
When I work with chrome-node-debug, this never happened.

[2017-04-14 23:28] testphreak commented on #456
@ddavison I am seeing this issue as well, where after a few tests the run just hangs. I don't see this issue with 3.0.1. My meta information is is exactly the same as @derinbay

[2017-04-14 23:33] testphreak commented on #447
@NiGhTTraX I am seeing the issue as well for 3.3.1 where upon turning on debug I see `http-outgoing-3 << "[read] I/O error: Read timed out"`

I don't see the error with 3.0.1. This issue could be related to tests hanging as described in https://github.com/SeleniumHQ/docker-selenium/issues/456

[2017-04-14 23:40] testphreak commented on #456
Please ignore me linking 447 above. Probably unrelated.

[2017-04-15 21:44] diemol commented on #456
@testphreak you could try using the debug image and see through VNC what happens when the browser hangs. Maybe it is not necessarily something related to the docker-selenium image but more to a newer Selenium, Chrome or Chromedriver version?

[2017-04-16 15:29] diemol commented on #447
@NiGhTTraX,

I used a slightly modified version of your docker-compose file, see [here](https://gist.github.com/diemol/2ed7b1d5e711d1bcc4eec29951347653), to check this issue.

I also see in the log when I enable the debug option this:
[code]

See this `Stale connection check` part, I think this is an internal handling from the HttpClient provided by th Apache libraries and used in Selenium, I thin

[2017-04-16 15:43] diemol commented on #432
Can you please post, step by step, how you start the hub and then each one of the nodes?

It is not so easy to understand what you wrote without all the commands.

[2017-04-16 15:54] diemol commented on #431
@lasotaartur, perhaps check this issue that resolved what you reported:
https://github.com/elgalu/docker-selenium/issues/20

Try to set in the environment something like `--shm-size=1g`, as @elgalu says

[2017-04-16 16:23] diemol commented on #425
I see the issue with the 3.3.0 images, but with the 3.3.1-Cesium images it works for me.

I remember there was an issue with the Selenium 3.3.0 release, one or more status URLs were broken and that was one of the reasons why they needed to release a quick hot-fix. I am assuming that if you check now with the 3.3.1 image it should work as usual.

[2017-04-16 17:12] tparikka commented on #432
I listed all of the commands (except the hub startup) in my original report above.

Step 1: Start the hub with `java -jar C:\SeleniumGrid\selenium-server-standalone-3.0.1.jar -role hub -maxSession 20` (the hub is operating on a machine with the address 10.10.1.10 bound to a local NIC)
Step 2: Start the node with `docker run -d --name node101 -p 5595:5555 -e HUB_PORT_4444_TCP_ADDR=10.10.1.10 -e HUB

[2017-04-16 17:31] tparikka commented on #425
The issue also appears to be resolved for me as of 3.3.1-Cesium. @Zechtitus and @sporokh can you please try it with :latest or :3.3.1-Cesium specifically and let us know if it's worked? I'll close this issue if I don't hear back within a few days.

[2017-04-16 18:41] diemol commented on #432
Ah OK, that was were I got lost, didn't know how the hub was started :)
I will check it and see if it works for me.

[2017-04-16 18:57] tparikka commented on #432
Thank you! I appreciate your time! Let me know if there's any other logs or system info I can provide, or things I should try. I'll be out this afternoon with family but I'll be back around tonight, and then more available tomorrow morning.

[2017-04-16 21:23] diemol commented on #432
The first thing I saw is that you should try to use a version in the hub equal or bigger than the nodes, you were starting the hub with version 3.0.1 and using nodes with version 3.2.0. _This is not actually the problem, but it is a good practice to have a bigger or equal version at the hub._

So, I started the hub with this command:
[code]

My machine currently has the IP `192.168.2.103`, so the

[2017-04-17 07:47] apakhomov commented on #457
In case of net=host it matters. I don't want to use custom network, port forwarding, nat as it's overhead for my case. I use host's network stack directly and it works until I need to launch more than 1 container with vnc. This is one of the cases I need to use custom images instead of official

[2017-04-17 08:09] allanatadministrate commented on #449
@ddavison cheers for all the work!

[2017-04-17 15:34] taraa62 commented on #425
I have the same problem with version 3.3.1, I also tried 3.2.0, the problem remained.
Initial data:
Os: mac os 10.12.4
Connect node: appium (ios)
Configuration for hub: default

[2017-04-17 16:06] tnguyen14 opened #458 "Error: rm: cannot remove '/var/cache/apt/archives': Directory not empty"
Hi, thanks for the fix on #449, it helped me got a bit further when trying to build the docker image locally.

However, I am seeing another error in the build process. Hopefully this one will be easy to fix:

[code]

[2017-04-17 16:20] diemol commented on #425
@taraa62,
Which image exactly? What do you mean by Appium? Is there a docker-selenium image for Appium?

[2017-04-17 16:31] Zechtitus commented on #425
@tparikka - just tried :latest and issue still is occurring (selenium/hub, selenium/node-chrome-debug).

The 3.3.1-cesium was working for the same test... so I am unsure if the issue occurs sporadically or is dependent on some timing (The page I was reproducing it against had some 3rd part advertisements which affect the page loading time somewhat in our test environment).

[2017-04-17 16:59] rosskevin commented on #437
I'm looking for any help or pointers anyone can give me.  I've done much memory profiling and all is well with the application.

I'm only having this problem when driving with selenium.  I can't say with any certainty it is selenium, the docker image, chrome, or anything else.  I've put a great deal of time into researching it, and I've run out of leads.

I'm willing to try anything, just point me

[2017-04-17 18:25] brajesheee commented on #450
Re pulling the new version worked. Thanks

[2017-04-17 18:25] #450 closed

[2017-04-17 19:06] diemol commented on #425
@Zechtitus, that is what I was thinking, better always make sure to have the latest by doing a docker pull again.

Looks like this one can be closed, right?

[2017-04-17 19:32] NiGhTTraX commented on #447
@diemol the stack overflow answer you linked says that the debug message can be ignored as they're not causing any problems. I'm seeing the message in the logs whenever my Selenium init times out. I'm not sure if there's a connection between them, but I'd sure like to get to the bottom of it.

[2017-04-17 19:56] tparikka commented on #425
@Zechtitus Glad to hear it's working with the latest pull. @taraa62, I suspect you're using the Docker images provided by Appium [here](https://hub.docker.com/u/appium/), yes? My understanding is that Appium uses WebDriver to automate testing of mobile applications, so what I would suggest is:

1) Make sure to do a fresh pull with `docker pull selenium/hub:3.3.1-cesium` as @Zechtitus did
2) If you

[2017-04-17 19:56] #425 closed

[2017-04-17 20:06] diemol commented on #447
@NiGhTTraX
I see, so it is affecting your tests then?
To be honest, this sounds more like a Selenium issue than a docker-selenium one. I would post it over there and they could give us more insights, I would be interested as well if this is affecting your tests.

[2017-04-17 20:07] tparikka commented on #432
@diemol Good catch on the hub version - I hadn't updated the Selenium version on my VM grid in a while, so I did that after seeing your update. What I was anticipating was the ability to forward a designated publicly-facing port through Docker's external network stack to the default internal port of 5555 (using -p for docker run or the "ports" argument for compose), and then SE_OPTS (which was the

[2017-04-17 20:16] diemol commented on #432
@tparikka when you pass `-port 5595` in the `SE_OPTS` you are telling the Selenium node to use that port to listen to incoming requests. But the mapped port internally is `5555`, therefore it will never be reached.

This part:

is basically port forwarding, and to my knowledge, this is usually done with a proxy like nginx. In my opinion, setting up something like that in docker-selenium is out of

[2017-04-17 22:06] rosskevin commented on #437
After an effort today, it appears our server running on the host hangs or becomes non-responsive to the chrome container.  If this is the case and chrome is managing connections properly, then this is entirely unrelated to selenium.

[2017-04-17 22:06] #437 closed

[2017-04-17 22:23] diemol commented on #423
Just summited a new PR #459 to fix this again, since @METAJIJI's change sadly got overwritten. I just added the same change for the Firefox and Standalone debug versions since it was missing there.

@finspin, you could add the options like this `- SE_OPTS=-host XX.YY.XX.YY -port 5555` (without quotations), and it should work.

[2017-04-18 04:34] aakashgupta96 commented on #198
I have tried expanding the size of /dev/shm but still it is not working for me :( I'm trying to run headless test with selenium ruby bindings and chrome drivers on Digital Ocean Ubuntu 14.04. Chrome driver version is 2.29 and and google-chrome version is 57.0

But whener I try to start a new session with these commands

`headless=Headless.new`
`headless.start`
`driver = Selenium::WebDriver.for :ch

[2017-04-18 07:38] madhavajay commented on #429
I think most automated testing will use chrome headless going forwards, and using docker for automated testing is a perfect fit, so this just seems like an obvious thing, in fact, iv been asking about it for the last few months and even tried to roll my own but chrome --headless was buggy. Big +1 from me on this as PhantomJS 2.5 release isn't even available and maybe we won't see it now that the m

[2017-04-18 08:31] elgalu commented on #198
@aakashgupta96 : https://github.com/leonid-shevtsov/headless is incompatible with docker-selenium, please open that issue in leonid-shevtsov/headless repo or drop it altogether, i.e. drop `Headless` class and gem and connect to the selenium grid of docker-selenium.

[2017-04-18 15:34] diemol commented on #407
@paul-nelson-baker I just tried your docker-compose file with the following info:

* docker version info:
[code]

* docker-selenium images (these come from the latest release 3.3.1-Cesium):

[code]

* OS Version:

[code]

and it worked right away for me. Could you please pull the latest images and check again? It should work with your current docker version.

[2017-04-18 15:37] peterstory commented on #87
I'm still encountering this hanging issue with `selenium/hub:3.3` and `selenium/node-chrome:3.3` (and I am using the `/dev/shm:/dev/shm`, as instructed).

Previous session ends cleanly:
[code]

New sessions starts, but hangs for a couple minutes (note the timestamps) before doing anything:
[code]

[2017-04-18 15:43] diemol commented on #406
The release is done in Travis now through the Makefile present in the root folder, the build in the docker hub is obsolete now.
@ddavison I think we just need to deactivate the option in the docker hub, right?
After that, I think, this issue and #419 can be closed.

[2017-04-18 15:56] diemol commented on #405
@gael-wogenstahl I tried to reproduce the issue based on your commands and I was not able to see the error.

Maybe the images were updated for 3.1.0 after you posted this? Could you try again for 3.3.1?

[2017-04-18 16:03] diemol commented on #401
@saifsysim I think this issue is the same one as #423, hopefully your setup should work when #459 gets merged (or you could just check the commits and adapt them to your image).

[2017-04-18 16:08] diemol commented on #395
@pavelpp I have seen this error before in some of my tests, where some quote is missing and then the whole thing breaks apart.
But this is a Selenium issue (the stack-trace tells you that), not a docker-selenium issue, I would close this issue here and open one over [there](https://github.com/SeleniumHQ/selenium/issues/new)

[2017-04-18 16:16] diemol commented on #389
@VarunEnishetty Is this still an issue? Have you tried with the latest 3.3.1 images?
Could you please provide some text formatted logs instead of screenshots?

[2017-04-18 16:21] diemol commented on #387
@loganrenz true, seems that there was an issue with the version handling in that tag.

Nevertheless, is this a big issue for you, or did you already move to Selenium 3? To be honest, I think that efforts should be put in newer versions instead of this little mistake :)

[2017-04-18 16:30] diemol commented on #368
@abhisheksreepal when I check the logs on the right bottom screen, I see:
`Cleaning up stale test sessions on the unregistered node http://10.0.0.2:5555`

This means that, for some reason, the node was unregistered from the hub. When the node notices that, it tries to register itself again, that is why you see again:
`Registered a node http://10.0.0.2:5555`

But it is not a duplicated IP address,

[2017-04-18 17:18] abhisheksreepal commented on #368
Thanks @diemol for the reply. I am out on vacation.  Will check back once i am in.

Other Info:  For now, I have created my own image based on seleniumhq and modifed it to register using hub name instead.

[2017-04-18 17:21] peterstory opened #460 "PhantomJS Doesn't Join Grid Hub"
## Meta -
Image(s):  `selenium/node-phantomjs:3.3` and `selenium/hub:3.3`

Docker Version:  17.03.1-ce-mac5 (16048)

OS: macOS Sierra

## Expected Behavior -

PhantomJS should join the Grid Hub.

## Actual Behavior -

PhantomJS doesn't join Grid Hub.

See my docker-compose configuration. Firefox does join, but PhantomJS doesn't. See attached screenshot from Grid Console. Thanks!

-Peter

[code]
<i

[2017-04-18 18:17] rosskevin commented on #437
For those that find this, I have definitively found this problem to reside in a hanging Capybara server.  I still don't know the alternative, but it is being tracked here:
https://github.com/teamcapybara/capybara/issues/1855

[2017-04-18 19:08] peterstory commented on #388
I am also getting these errors. Here is my compose file, and my configuration details:

Image(s):  `selenium/node-phantomjs:3.3` and `selenium/hub:3.3`
Docker Version:  17.03.1-ce-mac5 (16048)
OS: macOS Sierra

My compose file:
[code]

And my error messages:
[code]

[2017-04-18 19:20] ddavison commented on #387
yes, i took over this project at 2.53.1.  it's possible that i screwed up the 2.53.0 version from my testing

[2017-04-18 20:17] #432 closed

[2017-04-19 02:59] kariasbolster opened #461 "Running docker chrome node in EC2 Does Not Download Files"
I ran a hub and chrome node in EC2. When I ran my download tests, I tried searching for the files that are supposed to be downloaded in my tests, usually the default download path is /home/seluser/Downloads. when i docker exec -it my chrome node and went to the directory mentioned earlier, there is no such directory. Then I ran the find command to see if my file was just in another directory but i

[2017-04-19 03:53] kariasbolster commented on #461
is it because the mount propagation is rprivate?

[code]

[2017-04-19 11:57] aapande commented on #51
@lukeis This is happening on selenium standalone version3.3.1 . Nodes are continuously getting reconnected to hub.
Can some one please take look at it?

[2017-04-19 14:49] Sean-Brown opened #462 "Works locally, fails on Ubuntu VM"
## Meta -
Image(s):
Node-Chrome
Docker Version:
17.05.0-ce-rc1 (on my Windows 10 machine), 17.04.0-ce (on the Ubuntu VM)
OS:
Windows 10 (local), Ubuntu 16.04 (VM)

## Expected Behavior -
Running selenium tests though Docker hub on the Ubuntu VM succeeds (they pass on my local machine)

## Actual Behavior -
Tests succeed locally but fail using the Hub on the Ubuntu VM. The log files from the node c

[2017-04-19 14:55] Sean-Brown commented on #462
![image](https://cloud.githubusercontent.com/assets/1503131/25186622/b25c9fa0-24ee-11e7-8182-9f34961b2c66.png)

[2017-04-19 16:46] SpencerMalone commented on #429
So, I just put in some time into this. XVFB will still be required for almost all projects, sadly (unless someone finds a workaround)

In general it wasn't too rough to get running, but I get thrown the following when I try to use it for tests that have keyCode interactions (aka, any sendkeys stuff):
[code]

[2017-04-19 17:47] diemol commented on #392
This `DBUS_SESSION_BUS_ADDRESS=/dev/null` option was added to the 3.3.1-cesium release, check [Chrome](https://github.com/SeleniumHQ/docker-selenium/blob/3.3.1-cesium/NodeChrome/Dockerfile.txt#L69) and [Firefox](https://github.com/SeleniumHQ/docker-selenium/blob/3.3.1-cesium/NodeFirefox/Dockerfile#L63).

It should work now @thyagab @tate-e , perhaps you can try again with this latest release?

[2017-04-19 17:57] SpencerMalone commented on #429
I guess the XVFB thing is a chromedriver requirement, so I opened a ticket here: https://bugs.chromium.org/p/chromedriver/issues/detail?id=1772

If you wanna reproduce / help out with finding a fix, you can find steps to make an easy one-off container that runs selenium locally (without a hub/node configuration) in that issue. It's easy enough to convert those steps into the docker-selenium contai

[2017-04-20 00:03] saradcd77 commented on #227
@sandeep540, Not sure if you were able to fix the issue already. Did you tried to expose the ports prior before linking them?
You might want to name the port first, expose them so that it can be excessed by your code and then you set up the nodes and link it to the hubs.

[2017-04-20 05:01] pavelpp commented on #395
@diemol there was no problem when trying this with local chrome browser. Browser crashes only in docker. Will try this with the latest version and report back if it is still the case.

[2017-04-20 06:27] diemol commented on #227
@sandeep540's command's error says:
`docker: Error response from daemon: Could not get container for selenium-hub-P`

Did you start the hub?
`docker run -d -p 4446:4444 -name selenium-hub -P selenium/hub`

[2017-04-20 16:19] thyagab commented on #392
@diemol we tried with 3.3.1 and we still see this issue when we run the tests in parallel.

[2017-04-20 16:22] luksurious commented on #341
I am using the standalone containers and the `JAVA_OPTS` environment variable to silence the containers.

`JAVA_OPTS=-Dselenium.LOGGER.level=WARNING`

[2017-04-20 18:08] diemol commented on #392
@thyagab

Oh really? Wow.

Is it possible for you to provide:
* Simple Selenium test to reproduce it?
* How you start the docker containers? E.g. docker-compose or docker commands.

I'm really curious about it because I always thought that it was a Selenium issue.

[2017-04-20 18:22] thyagab commented on #392
@diemol We have our rancher setup with docker compose.Here is our docker compose

version: '2'
services:
  chrome-dev:
    image: selenium/node-chrome:3.3.1-cesium
    environment:
      HUB_PORT_4444_TCP_ADDR: selenium-dev
      HUB_PORT_4444_TCP_PORT: '4444'
      JAVA_OPTS: -Xmx4G
      LOGSPOUT: ignore
      shm_size: 512MB
      DBUS_SESSION_BUS_ADDRESS: /dev/null
    volumes:
    - /dev/shm:

[2017-04-20 20:54] BeyondEvil commented on #462
@Sean-Brown could you try running hub and node without docker (download the 3.3.1 jar) on the VM?

[2017-04-20 20:55] diemol commented on #392
@thyagab I tried to indent your docker-compose file and this is what I got:

[code]

I replaced ` - XXXX:5900/tcp` with ` - 5900:5900/tcp` locally to start it and I got:

[code]

I commented those lines and then I could start it, but it is still confusing because you start two grids, but the none of the `4444` get mapped to anything on the localhost, so how do you run the tests? Maybe you can try

[2017-04-20 23:03] thyagab commented on #392
@diemol I will increase the shm_size and try it out. You can ignore qa grid. chrome instances are mapped with
environment:
      HUB_PORT_4444_TCP_ADDR: selenium-dev
      HUB_PORT_4444_TCP_PORT: '4444'

[2017-04-21 00:43] testphreak opened #463 "node-chrome-debug container exits if debug is set to true"
## Meta -
Image(s):
node-chrome-debug

Image Version:
3.3.1-cesium

Docker version:
17.04.0-ce, build 4845c56

OS:
Ubuntu 16.04.2 LTS

## Expected Behavior -
Grid is up and running and debug logs are available

## Actual Behavior -
node-chrome-debug container exits after a few seconds. Don't see this issue with node-chrome.

docker-compose file -

[code]

When doing `docker ps -a` I see -

[code]

[2017-04-21 01:22] testphreak commented on #456
@diemol thanks for the suggestion. I find that my tests don't hang when running with node-chrome-debug. The test run hangs every time I use node-chrome. When I enable debugging for node-chrome container I see several errors related to `http-outgoing-129 << "[read] I/O error: Read timed out"`. I don't see anything else that might point to an issue.

I don't see any issues with my tests when using n

[2017-04-21 01:27] testphreak commented on #463
Not sure if this issue has anything to do with issue #423

[2017-04-21 10:34] djalexd commented on #91
It seems that also `HUB_ENV_no_proxy` needs to be empty, I was able to start debug with following command:
`docker run -d -e HUB_ENV_no_proxy= -p5900:5900 --link selenium-hub:hub selenium/node-chrome-debug:3.3.1-cesium`

[2017-04-21 11:24] Janki2 commented on #450
Hey which version you upgraded for this issue?
Facing same issue when using docker toolbox with selenium/node-chrome image.

[2017-04-21 12:59] elgalu commented on #429
Indeed, I managed even to [set the Chrome browser window size](http://stackoverflow.com/a/43542422/511069) but once I removed Xvfb from docker-selenium I was also bitten by @SpencerMalone error:

[code]

[2017-04-21 14:03] tparikka commented on #450
@Janki2 3.3.1-cesium is the latest release, should fix the problem if what you're seeing is the same issue @brajesheee saw.

[2017-04-21 16:49] testphreak commented on #429
I like the idea but please do not remove the current node-chrome and node-chrome-debug images when creating the headless images. I still like the idea of using real browsers inside containers.

[2017-04-21 16:54] ddavison commented on #462
this error doesn't appear to be on our side.  either your docker containers aren't networked correctly, or the VM can't access whatever it needs to.  either way - this does not look like a problem with these containers

[2017-04-21 17:34] #423 closed

[2017-04-21 17:49] #356 closed

[2017-04-21 21:14] testphreak opened #464 "Unable to launch grid with node-chrome-debug containers in a swarm using docker service command"
## Meta -
Image(s):
node-chrome-debug, node-firefox-debug

Image Version:
3.3.1-cesium

Docker version:
17.04.0-ce, build 4845c56

OS:
Ubuntu 16.04.2 LTS

## Expected Behavior -
I should be able to start a grid with node-chrome-debug containers in a swarm using docker service commands

## Actual Behavior -
The node-chrome-debug containers exit prematurely with Exited(127) status.

[code]

Commands

[2017-04-21 22:24] testphreak commented on #464
Upgraded to 3.4.0-actinium and I am able to setup a grid and run tests with node-chrome-debug using docker service. Thanks @diemol and @ddavison for the fixes!

[2017-04-21 22:24] #464 closed

[2017-04-21 22:53] testphreak commented on #463
This issue appears resolved with 3.4.0-actinium.

[2017-04-21 22:53] #463 closed

[2017-04-21 23:20] testphreak commented on #456
@diemol the read timeout issue is probably a red herring. But my tests continue to hang with node-chrome 3.4.0-actinium. Tests run fine on node-chrome-debug.

[2017-04-22 06:51] diemol commented on #429
I think there won't be need to remove them, or even create a new image, you just need to pass some specific capabilities to Chrome, I think @elgalu showed them to me yesterday, can you share them?

[2017-04-22 06:55] diemol commented on #456
@testphreak
I'll check it during the weekend, would it be possible for you to provide a test case to reproduce it?

[2017-04-22 12:18] diemol commented on #335
This was solved with #459, which was merged and released, this issue can be closed.

[2017-04-22 12:18] diemol commented on #207
This was solved with #459, which was merged and released, this issue can be closed.

[2017-04-22 12:18] diemol commented on #196
This was solved with #459, which was merged and released, this issue can be closed.

[2017-04-22 14:14] #196 closed

[2017-04-22 14:14] #335 closed

[2017-04-22 14:15] lmtierney commented on #207
@diemol Thanks for following up on these

[2017-04-22 14:15] #207 closed

[2017-04-22 14:56] elgalu commented on #429
Correct, this works already:

    capabilities: {
        browserName: 'chrome',
        chromeOptions: {
            args: ['headless', 'window-size=1920x1080']
        }
    }

[2017-04-22 15:10] dkastner commented on #429
Using the selenium node base image, I've found the following configuration works best:

[code]

Keeping the sandbox enabled caused an exception when selenium tried to start chrome.

I put together an [example app](https://github.com/dkastner/headless-chromium-selenium) that extends the selenium node base image, installs latest snapshot of chromium (with headless bugfixes), and installs a recent bu

[2017-04-22 18:09] graingert commented on #429
Would be good to have a separate image node-chrome-headless to save space
on xvfb and deps

On 22 Apr 2017 16:10, "Derek Kastner" <notifications@github.com> wrote:

[2017-04-22 18:18] testphreak commented on #456
@derinbay @ddavison spent a good deal of time last night trying to get to the bottom of the issue. It's related to this change https://github.com/SeleniumHQ/docker-selenium/commit/88584def77585863a226ca72bbce0f9dce561242 made by @a-k-g to resolve #358.

Due to this change, none of the node-chrome images after 3.0.1 are working for me and the timeline of the commit confirms that. Would it be possib

[2017-04-22 20:00] bitliner commented on #388
+1

[2017-04-22 22:19] testphreak opened #465 "Chrome sessions hang randomly with node-chrome due to DBUS issue"
## Meta -
Image(s):
node-chrome. May affect other chrome and firefox images as well.

Image Version:
3.3.1-cesium

Docker version:
17.04.0-ce, build 4845c56

OS:
Ubuntu 16.04.2 LTS

## Expected Behavior -
Tests execute as usual without hanging.

## Actual Behavior -
@diemol, @ddavison spent a good deal of time last night trying to get to the bottom of the issue. It's related to this change https:/

[2017-04-22 22:21] testphreak commented on #456
@diemol I just realized this issue has nothing to do with the hang issues I was seeing with node-chrome. Opened a separate issue https://github.com/SeleniumHQ/docker-selenium/issues/465.

[2017-04-23 00:39] testphreak opened #466 "geckodriver v0.16 is recommended for selenium v3.4.0"
## Meta -
Image(s):
node-firefox, node-firefox-debug, standalone-firefox, standalone-firefox-debug

##
I see a few test failures with Firefox and would like to eliminate the possibility of the failures being due to an older geckodriver.

- According to the [changelog posted](https://github.com/SeleniumHQ/selenium/blob/master/java/CHANGELOG) for selenium v3.4.0, geckodriver v0.16 is recommended. Th

[2017-04-23 00:43] lmtierney commented on #466
The releases of 3.4 and geckodriver 0.16 were coordinated together so it is best they are used together.

[2017-04-23 18:09] testphreak opened #468 "Firefox 53 crashes immediately after initialization with 3.4.0-bismuth"
## Meta -

Image(s):
All firefox images.

Image Version:
3.4.0-bismuth

Docker version:
17.04.0-ce, build 4845c56

OS:
Ubuntu 16.04.2 LTS

## Expected Behavior -
Firefox 53 gets initialized and runs test

## Actual Behavior -
Firefox 53 crashes after launch.

## Info -

Relevant Hub log -
[code]

Relevant node log -
[code]
My docker-compose.yml -
[code]

[2017-04-23 18:13] diemol commented on #465
I was able to reproduce it with the Chrome images from the 3.4.0-bismuth release. Summarising, under this use case (open and closing Chrome many times, at least 50):

* node-chrome -> Does not work
* node-chrome-debug -> Works
* standalone-chrome -> Does not work
* standalone-chrome-debug -> Does not work

I am building locally the Dockerfiles now with some changes to see if it works. I'll keep yo

[2017-04-23 18:15] testphreak commented on #465
Awesome! Thanks @diemol!

[2017-04-23 21:02] diemol commented on #465
@testphreak Firefox images seem to work fine. By fine I mean that the test does not hang, it either fails or passes (I am just clarifying it because I am not 100% sure if the latest version of Geckodriver - 0.16 and Firefox 53 are working well, so nothing related to the DBUS_SESSION_BUS_ADDRESS).

[2017-04-23 21:09] diemol commented on #407
This was fixed by #459, it can be closed.

[2017-04-23 21:10] diemol commented on #401
This is fixed by #459, this issue can be closed.

[2017-04-23 21:13] diemol commented on #392
This issue might have the same root cause as #465, `DBUS_SESSION_BUS_ADDRESS` related.

[2017-04-23 21:14] diemol commented on #365
This was fixed in #459, this issue can be closed.

[2017-04-23 21:57] diemol commented on #465
@testphreak, I just created a PR for this. Please check it, any help with checking it with your local tests would be great.

[2017-04-24 04:32] testphreak commented on #465
@diemol, your change looks good. Verified your change locally. Thanks for reverting the change back to #182.

[2017-04-24 11:35] victorflavio commented on #388
+1

[2017-04-24 12:06] elgalu commented on #388
Guys there is already a +1 Github's built-in functionality so there is no need to pollute the comments with +1.

Regarding this issue, I've seen a similar errors for a while with no impact in my tests execution, for example using Firefox 52.0.2, Selenium 3.3.1 and without docker-compose:

[code]

also:

[code]

Is indeed annoying to see this without knowing why is happening however I believe this

[2017-04-24 14:55] Sean-Brown commented on #462
Thank you for your input. I'm busy with other issues at the moment, when I revisit this I'll directly run the Grid using the JAR and let you know.

[2017-04-24 16:42] ddavison commented on #462
ok, we can reopen this issue if this is indeed our issue and you've confirmed it :)  thanks @Sean-Brown

[2017-04-24 16:42] #462 closed

[2017-04-24 16:46] ddavison commented on #392
*(I've edited their YAML with the indentation they intended.)*

[2017-04-24 17:35] testphreak commented on #388
@elgalu I guess there's no +1 feature yet with GitHub (at least not that I am aware of). But yes, people should use reactions such as thumps up, thumbs down etc to vote on the issue or a comment instead of adding new +1 comments.

[2017-04-24 22:03] ddavison commented on #388
those reactions "are" the +1 👍

[2017-04-25 01:13] manoj9788 commented on #466
This can be closed

[2017-04-25 01:45] testphreak commented on #466
@manoj9788 sure will close this. Unfortunately Firefox keeps crashing inside the containers #468, which makes the new image unusable.

[2017-04-25 01:45] #466 closed

[2017-04-25 01:50] manoj9788 commented on #468
I just used the docker-compose.yml  above and tried a sample test and works fine for me

[2017-04-25 05:44] Janki2 commented on #345
My application is up using docker with url xyz in ubuntu machine. Now i have configured selenium grid using docker on may local windows machine with docker toolbox. I want to know if my local docker node container will have access to xyz url or not.

[2017-04-25 05:54] diemol commented on #468
It also works for me, but I can imagine that we are running different types of tests to check this. @testphreak it would be cool if you can provide some code snippet to reproduce it.

[2017-04-25 15:52] timonag commented on #468
Going to this google page almost always kills FF

Docker: version 17.03.1-ce, build c6d412e
Host: Win10
[code]

[2017-04-26 01:08] manoj9788 commented on #468
Can you please try the same test in FF with the conventional setup of Grid with the jar file and put your findings here?

[2017-04-26 03:15] testphreak commented on #468
@manoj9788, @diemol figured out the problem. By default `GRID_BROWSER_TIMEOUT` on the hub is set to [0 seconds](https://github.com/SeleniumHQ/docker-selenium/blob/master/Hub/Dockerfile.txt#L20). Increased the browser and grid timeouts value and all my tests ran successfully.

[2017-04-26 03:15] #468 closed

[2017-04-26 07:48] vpbonev commented on #87
Our team was suffering from the same issue - we both had mapped volume to `-v /dev/shm:/dev/shm` and we had 3.4.0-bismuth installed with verified ` DBUS_SESSION_BUS_ADDRESS=/dev/null` and nothing was helping - the chrome nodes were hanging after

[code]
The only thing that helped us to resolve the issue was:
Set **GRID_NEW_SESSION_WAIT_TIMEOUT=5000** (5 seconds) when launching the Selenium Hub. Af

[2017-04-26 10:02] timonag commented on #468
Well, conventional grid on Win10 (and, as reported, on Mac) did not reproduce the error. Grid on docker with this composition
[code]
still fails at random point of the test.

[2017-04-26 11:33] madhavajay commented on #460
This could be an issue with the ghostdriver, I actually submitted a patch to the ghostdriver that fixes this exact issue when you try to connect to a remote grid which is not hosted on the same local machine.

https://github.com/jesg/ghostdriver/commit/6e0e1f7088b11cff7a8810210a17ce1530302887

I also made a docker container which has the patched ghostdriver with my edit you can use to test this.

[2017-04-26 12:43] testphreak commented on #468
@timonag what does the `no_proxy=localhost` do? Otherwise looks fine to me. Let me know if you'd like me to keep issue open or you can create a new one.

[2017-04-26 15:07] timonag commented on #468
Nothing helps, even a roll back to older versions of node. Will wait for FF54.

[2017-04-26 16:52] #465 closed

[2017-04-27 08:14] vv-p commented on #87
We had similar issue while running highload tests with a lot of chrome instanses working parallel.
After a bit of research we found that setting DBUS_SESSION_BUS_ADDRESS to /dev/null is bad idea, because chrome uses Dbus a lot. You can see it by "busctl" command while chrome running on systemd linux:

[code]

The DBUS_SESSION_BUS_ADDRESS variable is used for setting up dbus socket address, but you

[2017-04-27 08:24] vv-p opened #473 "Chrome DBus"
## Meta -
Image(s):
standalone-chrome-debug:3.3.1-cesium
Docker Version:
Docker version 1.12.6, build 3a094bd/1.12.6
OS:
CentOS Linux release 7.3.1611 (Core)

According to https://github.com/SeleniumHQ/docker-selenium/issues/87#issuecomment-297645284 is it possible to auto-detect dbus socket on host machine and setting up the DBUS_SESSION_BUS_ADDRESS with it ?

[2017-04-27 13:24] peterstory commented on #87
@vv-p That sounds like a great discovery! Can you think of a DBUS configuration that's portable across different Linux distributions (and running on MacOS, etc.)? I'm not familiar with how DBUS works.

[2017-04-27 13:30] ddavison commented on #473
the next release of the containers should fix this.  i'll try and release today

[2017-04-27 13:36] diemol commented on #87
@vv-p @peterstory please see this [comment](https://github.com/SeleniumHQ/docker-selenium/pull/469#issuecomment-297255320)

[2017-04-27 18:32] vv-p commented on #87
@diemol as I wrote before, setting DBUS_SESSION_BUS_ADDRESS to /dev/null is terrible bad. So yes, you need to install and run DBus inside container or link it outside to get chrome working stable.

[2017-04-27 18:38] diemol commented on #87
@vv-p But why is it terrible bad? I just want to understand how this affects the tests executed in the container.

If it is bad as in we are having errors in the logs but at the end the browser is working properly for the test, the question is, would it be ok to live with that?

Or is it bad as in the tests cannot be executed because Chrome does not work at all? If so, would be cool to have a way

[2017-04-27 20:48] radams-sgy opened #474 "selenium/standalone-chrome-debug:3.4.0-bismuth startup issue (and likely all others that have source selenv)"
## selenium/standalone-chrome-debug:3.4.0-bismuth startup issue -

Upon a docker run of of the container, I get a command not found on the entry point file. The line referenced in the stack trace below (27) is referring to:

[code]

Preceding that line we attempt to generate a selenv file within seluser's home dir with:

[code]

I believe the error in entry point is referring to ```source selenv``

[2017-04-28 08:49] vv-p commented on #87
Second one. I don't think dbus affects container perfomance.

[2017-04-28 08:54] jdelStrother commented on #87
Anecdotal: we've been running Chrome in docker for all our Jenkins builds and it's been stable ever since I set `DBUS_SESSION_BUS_ADDRESS=/dev/null` in mid-January.

[2017-04-28 09:51] derinbay commented on #465
@testphreak is this fixed your problem, have you tested after chromium update?
Probably from a different reason than DBUS but #456 problem is still exist.

[2017-04-28 10:03] diemol commented on #456
Hi @derinbay,

I saw your [comment](https://github.com/SeleniumHQ/docker-selenium/issues/465#issuecomment-297957592). I would like to try to reproduce the error you get with the latest release, can you please help me with some test code you are using to get the error? Also the docker commands would be helpful.

[2017-04-28 11:37] vikramvi commented on #396
With mac 10.12.3 + Docker 17.03.1-ce-mac5 + selenium/node-chrome-debug:3.4.0

I've below method for maximizing browser
`public boolean maximizeBrowserWindow(){
		try{
		         getDriver().manage().window().maximize();
		         //Below solution not working in case of Chrome container
			 /*Toolkit toolkit = Toolkit.getDefaultToolkit();

			 Dimension screenResolution = new Dimension((int) toolk

[2017-04-28 12:04] elgalu commented on #148
Should we keep this issue open @ddavison ? I think if we agree to leave video recording out of the scope of this project we can close this one.

Users can still get video recording by using [Zalenium](https://github.com/zalando/zalenium)

@diemol has even implemented per-test video recording so you can pass the capability `recordVideo: 'true'` which is even compatible with Sauce Labs and enable/di

[2017-04-28 13:02] vikramvi commented on #220
@stephenrenshaw can you please clarify how to achieve 2 steps ( one for setting container size , second one for forcing browser size ) you mentioned in above comment ?

[2017-04-28 13:08] elgalu commented on #220
Sorry for keep promoting [Zalenium](https://github.com/zalando/zalenium) here but so you know with Zalenium you can set the screen desktop resolution per test via the capatilibies, e.g.

[code]

[2017-04-28 13:17] vikramvi commented on #396
@ddavison can you please review this issue ?

[2017-04-28 13:22] derinbay commented on #456
Hello @diemol I've found out that, today's hangs were for another reason. I've checked that on my full suits and everything seems fine now.

I can say that this issue was fixed on 3.4.0

Thanks for your efforts.

[2017-04-28 13:28] diemol commented on #456
How cool @derinbay, I'm glad it is working 👍
Can you please close the issue?

[2017-04-28 13:32] roydekleijn commented on #220
Now I use the docker-compose file from below:

[code]

[2017-04-28 13:34] vikramvi commented on #220
@roydekleijn Thanks for info & do you also set chrome browser size inside script as well ?

something like  `getDriver().manage().window().setSize(new Dimension(X, Y));`

[2017-04-28 14:04] roydekleijn commented on #220
For chrome you can use the options below: (since .maxmize() doesn't work)

For MAC or Linux:

ChromeOptions chromeOptions = new ChromeOptions();
chromeOptions.addArguments("--kiosk");
driver = new ChromeDriver(chromeOptions);

For Windows:

ChromeOptions chromeOptions = new ChromeOptions();
chromeOptions.addArguments("--start-maximized");
driver = new ChromeDriver(chromeOptions);

On Fri, Apr 28,

[2017-04-28 15:59] #456 closed

[2017-04-28 16:06] #473 closed

[2017-04-28 16:06] ddavison commented on #473
should be fixed in 3.4.0-chromium

[2017-04-28 16:43] ddavison commented on #148
correct, we won't be putting video recording in these images

[2017-04-28 16:43] #148 closed

[2017-04-29 14:45] diemol commented on #447
Hi @NiGhTTraX,

Just to follow up on this, what do you mean by "my Selenium init times out". Can you please explain?

[2017-04-29 14:46] diemol commented on #407
@ddavison, can you please close this one?

[2017-04-29 14:49] diemol commented on #401
@ddavison can you please close this issue?

[2017-04-29 14:54] diemol commented on #392
@thyagab can you please try with the latest release? 3.4.0-chromium
The issue with `DBUS_SESSION_BUS_ADDRESS` was fixed.

[2017-04-29 14:55] diemol commented on #365
@ddavison can you please close this issue?

[2017-04-29 14:56] diemol commented on #360
@sourcerer-mike, the most recent release should have this fixed, can you please try again?

[2017-04-29 14:59] diemol commented on #352
@ipai84 can you please try again with the latest release? Many improvements have been done both in Selenium and docker-selenium since you created this issue.

[2017-04-29 15:01] diemol commented on #351
@nekulin can you please show how the graphics card could be put to the container?
Otherwise, I think we should just close this issue.

[2017-04-29 15:23] diemol commented on #349
@mulyoved could you please try with the most recent release? 3.4.0-Chromium
Let us know how it went.

[2017-04-29 15:26] diemol commented on #344
@shankarkc could you please try with the most recent release? 3.4.0-Chromium
Let us know how it went.

[2017-04-29 17:06] NiGhTTraX commented on #447
When [I ask](https://github.com/NiGhTTraX/react-test-buffet/blob/e7e33e77eb7e9ae4bdc6e7fac46e8d12669c4f21/tests/acceptance/setup.js#L18) the Selenium hub for a session it takes too long (more than 10s) and my tests time out. I can see in the logs that a request to create a new one has been received and in the debug logs I see the read time out error.

[code]

I can't reproduce this consistently, s

[2017-04-30 02:47] #365 closed

[2017-04-30 03:30] #401 closed

[2017-04-30 03:41] #407 closed

[2017-05-01 17:10] ddavison opened #476 "Implement New Test Suite"
I will be rewriting the tests to use Python instead of NodeJS.

*Reasoning*:
1. None of the maintainers now use NodeJS.
2. The current suite is not scalable (for new images)
3. The current suite does not seem maintainable (see reason 1)
4. The current suite uses `wd`.  a third party binding

### Checklist

- [x] Create Test Framework
- [x] Write smoke test for Hub
- [x] Write smoke and selenium te

[2017-05-02 16:46] #209 closed

[2017-05-02 21:50] diemol commented on #474
Hi @radams-sgy, I checked it, and if everything goes well, #477 should solve it.

[2017-05-02 21:56] diemol commented on #222
This was fixed with #469
@ddavison I think this issue can be closed.

[2017-05-02 23:39] #222 closed

[2017-05-03 15:04] radams-sgy commented on #474
Great thanks @diemol

[2017-05-03 15:19] alippai commented on #429
Awesome! This sounds like it requires half the resources of selenium/standalone-chrome (e.g. disk, RAM)

[2017-05-03 19:03] tnguyen14 opened #478 "Firefox ignores desiredCapabilities proxy settings"
## Meta -
Image(s):
standalone-firefox, standalone-firefox-debug
Docker-Selenium Image Version(s):
3.1.0
OS:
RHEL 7.3

With the following proxy settings:
[code]

## Expected Behavior -
The browser session will use the proxy settings

## Actual Behavior -
Proxy is not observed in Firefox. It works when using the chrome versions however (`standalone-chrome` and `standalone-chrome-debug`).

[2017-05-03 19:04] sourcerer-mike commented on #360
FYI
Thank you for the information!
The app that is using those container got used to the low availability so I need to rebuild things a bit / try if it runs smoothly now.
I am sorry that it might take an additional week until I can give you a reply on this.

[2017-05-04 20:25] diemol commented on #478
@tnguyen14
Googling for a while, I realised that the proxy attributes are not the same for Chrome and Firefox (at least now). Check https://github.com/mozilla/geckodriver#proxy-object for the correct ones.

For example, in Chrome you pass `httpProxy: 'proxy.corp.com:8080'`, but it seems that in Firefox you need to pass: `{httpProxy: "proxy.corp.com", httpProxyPort: 8080}`.

[2017-05-04 20:34] diemol commented on #458
I've built the images several times and I have not seen that error... 🤔

Can you please give us some info about your OS and the commands you used to build the image (and which image)? Perhaps I can reproduce it.

[2017-05-04 20:36] diemol commented on #431
@lasotaartur do you have any feedback about our comments and using the additional options?
Perhaps with the recent fixes it is working now for you.

[2017-05-04 20:39] diemol commented on #395
Hi @pavelpp, were you successful?

[2017-05-04 20:42] diemol commented on #362
@avrelio could you tell us which image version were/are you using? I would like to reproduce the error.

[2017-05-04 20:42] diemol commented on #360
@sourcerer-mike no problem, let us know how it went.

[2017-05-04 20:46] diemol commented on #359
I wrote a [gist](https://gist.github.com/diemol/53ad9065686f4c330596725a8147aad5) with some useful info about this. I think @rnemeth1980 was able to use a custom profile at the end.

@jkowalczyk please check it and let us know, @rnemeth1980 also shared how he did it in the gist.

[2017-05-04 20:50] diemol commented on #340
I guess that after @pigiuz comment, we can close this issue, right @philjones88 ?

[2017-05-04 20:53] diemol commented on #332
@finspin That variable is now [configurable](https://github.com/SeleniumHQ/docker-selenium/blob/master/Hub/generate_config#L11).
Can you check it again please?

[2017-05-04 20:59] diemol commented on #327
@tazle did you move to Selenium 3? The issue was solved for new image versions, and I think it won't get fixed in the image version you were using.
Perhaps you can try the new image versions?

[2017-05-04 21:01] diemol commented on #320
This issue was fixed in #459
@ddavison this issue can be closed.

[2017-05-04 21:04] diemol commented on #315
@niQo The NodeDebug images are created based on the NodeBase images, therefore those env vars are included by default.

[2017-05-04 21:05] lasotaartur commented on #431
Now I'm using selenium/standalone-chrome-debug:3.3.0 and it work's better than selenium/standalone-chrome:3.3.0.

[2017-05-04 21:12] tazle commented on #327
I think we moved away from the tomcat container.

[2017-05-04 21:16] diemol commented on #327
Ah ok. Anyway, this issue with the spaces was solved in the recent releases by escaping the variables better.
Maybe you can try it or perhaps close the issue if it is not a problem anymore?

[2017-05-04 21:33] tnguyen14 commented on #478
@diemol  I just tried your suggestion, but that doesn't seem to make a difference.

[2017-05-04 21:35] tnguyen14 commented on #458
Hi,

The error happens on a RHEL 7.3 box. Do you have access to that in order to test this?

If I replace the `rm -rf /var/cache/apt/archives` with `apt-get clean`, it goes through fine for me.

I do get another error down the line with, but at least that particular error is gone.

Do you think I should make a PR to change that?

[2017-05-05 06:32] diemol commented on #478
@tnguyen14 my suggestion was more to check how Geckodriver expects the proxy info in the capabilities, did yo check that?

[2017-05-05 08:39] philjones88 commented on #340
@diemol I had a quick look but it's a fork and I was hoping this would eventually be built into this repo it's self. I wanted to avoid forks and relying on third parties.

[2017-05-05 09:32] pgatplumbee commented on #340
@diemol i agree with @philjones88 here, forks are a suboptimal way to solve the problem if you don't want to get your hands dirty.

@diemol let me know if you are ever going to merge the virtualgl solution into yours. I will be more than glad to help.

[2017-05-05 09:49] diemol commented on #340
@philjones88 @pgatplumbee I understand, but I am not sure if supporting this is in the scope of the docker-selenium project.

To my understanding, the idea of this project is to provide a general solution that fits lots of people.

Special cases, like hardware acceleration or video recording, need special conditions (special AWS instances, different configs, more packages and processes running). T

[2017-05-05 10:42] pgatplumbee commented on #340
@diemol good for me, if you will ever change direction give me a call, I will be available.
PS: @pigiuz and @pgatplumbee is always me (personal and company accounts)

[2017-05-05 11:03] NeilJ247 opened #479 "HttpOnly cookie not being sent"
Not entirely sure if this is a bug or not or if I have not set something up incorrectly.  Anyway, I am running standalone-chrome:3.4.0-chromium in docker.  I am using Webdriver.io to run selenium tests and I have Wiremock docker container running to record and playback requests.

When a user logs in a HttpOnly cookie is set in the browser and then subsequently sent after each additional request i.

[2017-05-05 11:06] elgalu commented on #479
Do you also have his issue also when running selenium jar? i.e. selenium without docker?

[2017-05-05 11:07] diemol commented on #479
I think it has to do with how the containers are being linked.
Are you using a docker-compose file?  How do you start them?

[2017-05-05 11:57] cvakiitho commented on #397
@jackTheRipper I personally have the issue even on your image.

I thought it has something to do with our network ( corp proxy, dns,...), but https://github.com/elgalu/docker-selenium image is working fine.

[2017-05-05 12:02] NeilJ247 commented on #479
@elgalu I haven't tried the selenium jar on it's own but I will have a go.

@diemol Not using docker-compose.  We run the containers using phing to run docker run commands. As for links: I have Wiremock linked to our rest API docker and the front docker is linked to the back.  Wiremock is run to proxy all requests based on the rest API container name.  I have also tried removing the docker link be

[2017-05-05 13:04] NeilJ247 commented on #479
@elgalu I have tried with selenium jar but the same result.  I think I know what the problem is.  I have managed to keep the browser open long enough when running the test so that I can see the cookies and the request.  When the cookie is being set it is being set for domain=localhost rather than containing the IP address of front container.

[2017-05-05 13:04] cvakiitho commented on #397
Taking back my previous statement, I was just lucky with some tests.

However, i build 54 beta firefox in this image : https://hub.docker.com/r/cvakiitho/docker-selenium/
And so far ( 50+ tests) it works without issue, so feel free to use it.

[2017-05-05 13:08] elgalu commented on #479
I see, thanks for trying, if it happens with selenium jar then is not a docker-selenium issue therefore doesn't belong to this repo

Perhaps you can open the issue at Selenium and reference it here to keep the discussion there.

[2017-05-05 13:42] NeilJ247 commented on #479
Thanks for your help.  Discovered that it is something to do with our rest API setting the domain based on default parameters.  I'll take it from there and close this as I don't believe it is an issue here.

[2017-05-05 13:42] #479 closed

[2017-05-06 15:40] niQo commented on #315
@diemol you're right, it has been done. This issue can be closed.

[2017-05-06 15:40] #315 closed

[2017-05-08 15:43] tnguyen14 commented on #478
@diemol From searching around, I found the same results that you mentioned, i.e. `httpProxy` and `httpProxyPort` as separate properties.

[2017-05-08 15:44] diemol commented on #478
@tnguyen14 exactly, so I think you need to reflect that in your code. Basically Firefox profiles have different properties. It is not an issue of docker-selenium I think.

[2017-05-08 15:45] diemol commented on #478
@tnguyen14 exactly, so I think you need to reflect that in your code. Basically Firefox profiles have different properties. It is not an issue of docker-selenium I think.

[2017-05-08 15:50] tnguyen14 commented on #478
Right. And when I updated the properties to use those specific to firefox, it still did not work.

[2017-05-08 15:55] diemol commented on #478
Perhaps you can post that problem here and reference this issue? https://github.com/mozilla/geckodriver
Since it seems clearly related to the Firefox options.

[2017-05-08 16:08] tnguyen14 commented on #478
I just looked at the options again, and it seems like they don't support the `noProxy` option anymore? Do you know if there's a different way to set that?

[2017-05-08 16:20] diemol commented on #478
Not really, I have never used Firefox profiles in that way. I just noticed that the settings are different from Chrome profiles.
Maybe it is better to ask them directly❓

[2017-05-08 19:01] tnguyen14 commented on #478
I asked the question in https://github.com/mozilla/geckodriver/issues/725

[2017-05-08 19:14] tnguyen14 commented on #458
I created #480 to address this.

[2017-05-09 11:50] diemol commented on #37
@ahirreddy
I've document a way to do it, please check
https://gist.github.com/diemol/53ad9065686f4c330596725a8147aad5

If this is not needed anymore, please close this issue.

[2017-05-09 11:54] diemol commented on #39
@azakordonets that is not really an error, is the normal output when the debug images are starting their VNC.
Yes, maybe it is annoying, but this is the normal behaviour.

@snowe2010 If the tests crash, please post the related errors to them.

[2017-05-09 11:59] diemol commented on #86
The [appium-docker](https://github.com/appium/appium-docker-android) project already exists.

I think this issue can be closed.

[2017-05-09 12:02] diemol commented on #109
Hi @vikramvi !
I checked and the link is correct now, can you please close the issue?
Thanks!

[2017-05-09 12:04] diemol commented on #111
Hi @vikramvi!

Is this still an issue? If so, can you please provide some environment details and code to reproduce it?

Thank!

[2017-05-09 12:12] diemol commented on #126
@gilo that is the nature of Chrome in docker, you need to share that to get Chrome to work properly in docker-selenium.

As the issue seems to be solved, could you please close it?

Thanks!

[2017-05-09 12:18] diemol commented on #122
@mikewrighton It is set to 0 since it is just the default in Selenium Grid. The parameter is [there](https://github.com/SeleniumHQ/docker-selenium/blob/master/Hub/Dockerfile#L25) so it can be overwritten when the container is started.

From the Selenium jar:

       <Integer> in seconds : number of seconds a browser session is allowed to
       hang while a WebDriver command is running (example: d

[2017-05-09 12:20] diemol commented on #117
@bitliner is this still an issue for you? If so, can you please provide some log output, environment used, and docker images used?

If not, please close the issue.

Thanks!

[2017-05-09 12:22] diemol commented on #113
@tlkx
I tried to reproduce that with the current images, and it didn't happen. Perhaps it was an issue back in that moment.

Could you please try again with the current images and report back?

Thanks,

[2017-05-09 12:27] diemol commented on #112
Hi @vikramvi,
Right now it is possible to do that with the env vars present in the [Dockerfile](https://github.com/SeleniumHQ/docker-selenium/blob/master/Hub/Dockerfile#L15).

You just need to pass them in the `docker run` command, adding (e.g.) `-e GRID_MAX_SESSION=10`.

[2017-05-09 17:23] #126 closed

[2017-05-10 17:41] desertaxle opened #481 "Incorrect Remote Host Reported to Hub"
## Meta -

Image(s):
node-chrome

Docker-Selenium Image Version(s):
3.4.0

## Expected Behavior -
Setting remote host in /opt/selenium/config.json would enable the hub to reach a node running on a different EC2 instance on a port other than 5555.

Example config.json:

[code]

## Actual Behavior -
The hub comes up with a remoteHost that is the docker IP and port 5555 (e.g. http://172.17.0.7:5555).

[2017-05-10 20:47] mach6 commented on #481
In  Se3, support for remoteHost in the node's config.json was removed.

Try using host and port

[2017-05-10 22:40] tnguyen14 commented on #478
I was told that `webdriver` does not support `noProxy`, so I raised it in https://github.com/w3c/webdriver/issues/913

[2017-05-11 03:57] tnguyen14 commented on #478
One thing I've noticed is that the `node-firefox` version will respect environment variables set for http_proxy and no_proxy, but the `node-firefox-debug` version will not. What do you think might cause this difference?

[2017-05-11 06:49] diemol commented on #478
@tnguyen14 that should get fixed when #477 gets solved.

Aside from that, it seems that the `noProxy` thing is being handled in the issue you raised at the w3c project.

Since this is not a docker-selenium issue, could you please close this issue?

Thanks!

[2017-05-11 11:07] graingert opened #482 "support for servo and servo `./mach.sh --headless`"
Feature request, [servo](https://github.com/servo/servo) seems to support headless browsing (no xvfb) and webdriver natively. Would be nice to have this as an option.

[2017-05-11 12:00] pavelpp commented on #395
yes, it's working in the latest version. You can close it now

[2017-05-11 12:00] #395 closed

[2017-05-11 13:27] desertaxle commented on #481
That was my first approach, but I found that when I set host and port then the hub wasn't able to connect to the nodes. I think it's because port mapping that I'm using when starting the nodes (e.g. 20005:5555) and when I set port to the port number on the EC2 instance then the port inside the container also changes. If that's the case then the container would no longer be listening on 5555.

Is t

[2017-05-11 13:53] tnguyen14 commented on #478
Thanks @diemol. Any estimate on when you think #477 will land?

[2017-05-11 13:56] diemol commented on #478
@ddavison is working on having better tests so #477 can be merged together. That is a very important task and good tests take time sometimes, so we just need to have some patience :)

[2017-05-11 15:42] eino-makitalo opened #483 "selenium/node-firefox-debug trying to load some addons and freezes"
## Meta -
Image(s):  selenium/node-firefox-debug

Docker-Selenium Image Version(s):  latest

OS:
Host machine: ubuntu but docker in use

## Expected Behavior -
Not downloading any addons when using docker image of selenium/node-firefox-debug
## Actual Behavior -
Freezes and then shows in screen
"1494517195363	addons.productaddons	INFO	sending request to: https://aus5.mozilla.org/update/3/GMP/53.0/

[2017-05-11 20:27] ddavison commented on #483
I'm not sure when / wh yyou'd be seeing this.  I'm certainly not getting this.  When running `docker run -it -p 5900:5900 --link selenium-hub:hub selenium/node-firefox-debug`, i get [this output](https://gist.github.com/ddavison/1f52de7a5375fd4e2ab9dc48380a142d)

[2017-05-11 20:29] ddavison commented on #483
try sharing your invocation with us so we can see if something else is going on here.

[2017-05-11 20:32] peterstory commented on #397
I had this issue, and the fix was to do the same shared-memory mapping that this project's README recommends for Chrome. The README should be updated to recommend the same practice for Firefox!
https://github.com/mozilla/geckodriver/issues/285

[code]

[2017-05-12 03:06] baozhida opened #484 "Error checking TLS connection: Machine does not have a host-only adapter"
on windows 7 , I set bridge type. there is an error when start default docker machine.

only host-only adapter can use？

now only my window can connect hub.

How other windows at  same network connect hub （http://192.168.99.100:4444/grid/console）？

[2017-05-12 06:54] cvakiitho commented on #397
As suggested later in geckodriver bug shm-size 2g is better:
https://github.com/SeleniumHQ/docker-selenium/pull/485

[2017-05-12 20:25] tnguyen14 commented on #478
@diemol I've also seen Chrome not respecting the http proxy environment variables as well (the proxy settings in webdriver works though). Is that a known issue as well?

[2017-05-15 11:19] eino-makitalo commented on #483
Yes, my firefox hangs up in first page of application... then nothing happens.
I have took template from https://github.com/Eficode/Docker-Selenium-Example
Chrome goes nice

[docker-compose.test.yml.txt](https://github.com/SeleniumHQ/docker-selenium/files/1000890/docker-compose.test.yml.txt)
[firefoxHangsExample.txt](https://github.com/SeleniumHQ/docker-selenium/files/1000893/firefoxHangsExample.t

[2017-05-15 21:33] ddavison commented on #112
That's correct.  most (if not all) necessary parameters are added to the Dockerfile's, both for nodes and the hub.

[2017-05-15 21:33] #112 closed

[2017-05-15 21:34] ddavison commented on #113
@alexkogon is correct, this is typical behavior of the hub, usually due to misconfigured timeouts.  i'd recommend toying around with them if default settings don't work.

[2017-05-15 21:34] #113 closed

[2017-05-15 21:35] ddavison commented on #117
no response for a week, closing.

[2017-05-15 21:35] #117 closed

[2017-05-15 21:35] #122 closed

[2017-05-15 21:36] #109 closed

[2017-05-15 21:38] ddavison commented on #37
no response for years. closing.

[2017-05-15 21:38] #37 closed

[2017-05-16 13:08] khalistan opened #486 "NoSuchSessionException"
**Hello, I am getting following error while running tests with docker slaves.**

**I have tried to set** shm size upto 1.0G and also to set export DBUS_SESSION_BUS_ADDRESS=/dev/null but still getting same error.
**I have also tried this:**

**I run docker:**

**My docker file:**

[2017-05-16 13:36] diemol commented on #486
Hi @khalistan,

Can you please post the docker run instruction to see how you start docker-selenium? Also, which image are you using?

[2017-05-16 13:48] diemol commented on #486
@khalistan thanks for the info.

But it seems that you are using a complete different image, from your docker run:
`docker run -d --name jenkins-slave ...`

Also from your docker-file:
`FROM jenkinsci/jenkins`

I think you are not using this project, am I right? Perhaps you need to post the issue in the correct project.

[2017-05-16 13:50] khalistan commented on #486
I am not Docker guy. I am just Selenium guy :) Can you still help me? Please

[2017-05-16 13:54] diemol commented on #486
I would recommend to read first the [README](https://github.com/SeleniumHQ/docker-selenium) of the project and also check the [wiki](https://github.com/SeleniumHQ/docker-selenium/wiki) to get started.

In general, the images provided should be ready for you to use.

After going through that, if you still have problems, please create an issue with the specific problem and a way to reproduce it.

[2017-05-16 16:46] ddavison commented on #486
closing this issue, as it does not pertain to our images.

[2017-05-16 16:46] #486 closed

[2017-05-16 20:19] ddavison commented on #327
closing, as assuming complete. we can reopen if need be!

[2017-05-16 20:19] #327 closed

[2017-05-16 20:19] #320 closed

[2017-05-16 20:20] ddavison commented on #332
closing as this is assumed complete.  can reopen if needed.

[2017-05-16 20:20] #332 closed

[2017-05-16 20:25] ddavison commented on #359
If this works @diemol, feel free to add a wiki page regarding this

[2017-05-17 00:57] LusciousPear opened #487 "Support Chrome Sandboxing on Ubuntu"
## Meta -
Image(s):
standalone-chrome

Docker-Selenium Image Version(s):
3.4.0-actinium

OS:
Ubuntu 16.10

## Expected Behavior -

Chrome starts normally, with sandboxing enabled. This is important because we need to run tests on real-world sites with security, as well as test for malware vulnerabilities.

## Actual Behavior -

Error message:

The only way is to run with --no-sandbox enabled, whic

[2017-05-17 10:41] lluisteamcmp opened #488 "Open xdg-open"
## Meta -
Image(s):
node-chrome
Docker-Selenium Image Version(s):
3.4.0
OS:
OSX El capitan 10.11.6

On trying open a link like: `intent://stream/#Intent;scheme=freevr;package=[PACKAGE_NAME];S.stream=[STREAM_URL]` the xdg-open 'alert' appears. That makes losing control over the driver, per example the driver is unable to do a `navigate.refresh`.

## Expected Behavior -
On opening such type of links

[2017-05-17 15:09] elgalu commented on #488
Hi @lluisteamcmp thanks for reporting this.

Do you think you can also provide a solution? and even better via a pull request?

[2017-05-17 15:12] elgalu commented on #487
You can pass it through the capabilities, see:

https://github.com/elgalu/docker-selenium#chrome-not-reachable-or-timeout-after-60-secs

[2017-05-17 17:19] ddavison commented on #488
if this is a valid issue, then it's most likely an issue with SeleniumHQ/selenium - i'll await your response @lluisteamcmp

[2017-05-17 20:05] LusciousPear commented on #487
Thanks -- actually, I know how to disable the sandboxing. But we don't want to, because we need the security and sandboxing abilities.

[2017-05-17 20:35] dmitrygusev opened #489 "Unable to pass `-firefoxProfileTemplate` via SE_OPTS to standalone-selenium-firefox"
## Meta -
Image(s):
standalone-firefox-debug

Docker-Selenium Image Version(s):
2.53.1-beryllium

OS:
macOS Sierra 10.12.4

## Docker compose configuration -
[code]

## Expected Behavior -
`SE_OPTS` environment variable acknowledged and consumed by selenium.

## Actual Behavior -
Container fails to start with the following error in docker logs:
[code]

The same configuration works as expected with

[2017-05-17 22:53] ddavison commented on #489
have you tried with the latest versions?  since you are using version 2 of selenium, version 3 should be a pretty easy migration (shouldn't have to modify tests at all).

this waiting xvfb... was fixed since 3.1 i believe.

[2017-05-18 07:34] lluisteamcmp commented on #488
Hi @elgalu @ddavison I see this more as an issue that could be solved by modifying the dockerfile from the base node: https://github.com/SeleniumHQ/docker-selenium/blob/master/Base/Dockerfile
Something to make the xdg-utils not interact in such way: https://wiki.archlinux.org/index.php/Default_applications#xdg-utils
I will try to have a solution, but I have little knowledge on solving this type of

[2017-05-18 08:52] elgalu commented on #487
Ah ok, I'm reading now :)

Can you try `docker run --cap-add=SYS_ADMIN` ? as suggested here:
https://github.com/jessfraz/dockerfiles/issues/17#issuecomment-99330284

Others are sharing `-v /dev/dri:/dev/dri` but doesn't seem to solve the problem, though you could also try if `--cap-add=SYS_ADMIN` doesn't work.

Finally you could also try `docker run --privileged`

Sorry for just googling and copy

[2017-05-18 10:31] dmitrygusev commented on #489
Here's the output from version 3.4.0-bismuth:
[code]

As I understand it isn't possible to use the same `-firefoxProfileTemplate` flag for custom SSL certificates.

My test suite uses Selenium RC that's been deprecated if I understand this right, and in order to use Selenium 3 I need to migrate everything to WebDriver, right? I'd like to avoid that at the moment, if possible.

[2017-05-18 15:04] gokulganthtm opened #490 "Chrome Containers --> too many connection resets (due to Net::ReadTimeout - Net::ReadTimeout)"
## Meta -
Image(s):

Docker-Selenium Image Version(s):    Latest version
Selenium/node-chrome-debug and Selenium/node-chrome

OS:
LINUX OPEN SUSE

## Actual Behavior -  Chrome Container opens up the browser, but without entering some values in the Text filed...Waits for some time and throws readtimeout Error.

My Docker compose file

  selenium-hub:
    image: selenium/hub
    ports:
      - 4446:

[2017-05-19 07:56] arvinder06 opened #491 "Getting connection Refuse in Chrome when trying to open docker Selenium grid"
Both the node and hub are up and running and I can see the execution going in node via VNC. But cannot open grid console.

![image](https://cloud.githubusercontent.com/assets/28785545/26238354/04fbe60a-3cbc-11e7-9feb-8620343c289b.png)

![image](https://cloud.githubusercontent.com/assets/28785545/26238398/3af569f2-3cbc-11e7-8588-e82452d1381e.png)

$ docker info
Containers: 2
 Running: 2
 Paused: 0

[2017-05-19 10:57] lluisteamcmp commented on #488
@elgalu @ddavison I think this could be closed. This problem is more related to trying to test an intent to open an app using a desktop, simulating the mobile by the user agent.
Also I can reproduce the behavior of 'loosing' the driver on other environments than the docker node container.
I will open an issue to SeleniumHQ/selenium for this strange behavior when opening this intent type URL, but I

[2017-05-19 11:43] elgalu commented on #488
I agree. I will close but if you figure this out please post the link or the solution here so we can all learn from it ;)

[2017-05-19 11:43] #488 closed

[2017-05-19 15:04] tnguyen14 commented on #478
@diemol should I file a separate issue for Chrome?

[2017-05-19 15:06] tnguyen14 opened #492 "Hover state does not work with non-debug images"
I have a test for hover states that use something like `moveToElement` and check that the element hidden normally is present on hovering.

This test passes fine if I use the `debug` images, but not the regular ones.

Does anyone know why this might be the case? Is there a way I can get it to pass reliably for non-debug images?

[2017-05-19 17:45] ddavison commented on #489
that's a true statement, yes.  RC has been deprecated and is no longer supported by the team.  i've never used the `-firefoxProfileTemplate` option personally.

If this was in Selenium 2 and now is not in Selenium 3, it must have been deprecated as well, or favored as another option.  perhaps since you have a general idea of what is going on, feel free to open a PR

[2017-05-21 20:11] dmitrygusev commented on #489
You can see the linked commit above that fixes the issue.

Problem was in a space contained in the value of `SE_OPTS` and it wasn't properly quoted when the script tried to compose its definition, i.e.:

[code]

That was already fixed in the master branch so I took the quote-fix from there, but it has another issue on [this line](https://github.com/SeleniumHQ/docker-selenium/blob/fe860cbcbf627a2e9

[2017-05-22 08:19] elgalu commented on #492
Hi @tnguyen14 could you rephrase the issue description and make it deterministic?

1. "something like moveToElement" -- so do you use moveToElement or what exactly? please be very specific.

2. "element hidden normally is present" -- what is "normally" can this be rephrased with concrete reproducible steps?

3. can you provide a complete test case in https://gist.github.com/ for example? that woul

[2017-05-22 18:22] taarimalta commented on #460
Hi @peterstory

I got @madhavajay 's container to work with compose as follows:

[code]

Thanks @madhavajay

[2017-05-22 20:33] tnguyen14 commented on #492
Hi @elgalu,

My apologies for the vague bug report.

I did mean `moveToElement`.

Here's a simple set up to see this:

[code]

and
[code]

And then run:

[code]

When running that, I get the following error:

[code]

It works on `chrome` and `firefox-debug`.

[2017-05-23 12:04] elgalu commented on #492
Thanks for the great bug report @tnguyen14 !!!

I'm able to reproduce your issue but I'm surprised that is passing on firefox-debug as this seems to be a Firefox issue, independent of the debug image, or if using Zalenium for example.

See selenium logs from [Zalenium](https://github.com/zalando/zalenium)

![image](https://cloud.githubusercontent.com/assets/111569/26353338/416c2616-3fc0-11e7-9915-

[2017-05-23 15:58] snowe2010 commented on #39
@diemol I haven't touched selenium in 2 years now, so I won't be able to reproduce. Go ahead and close if you need to.

[2017-05-23 15:59] tnguyen14 commented on #492
Yeah, the part about it passing on debug made me think originally that it's something with having a graphical interface... I believe the only difference between the regular image and the debug one is the addition of a vnc server, is that right?

I subscribed to that selenium issue, thanks for the reference.

[2017-05-23 16:53] elgalu commented on #492
Is it possible that is passing for you in the debug image because you have an older image? older Selenium or Firefox in there? I believe this issue is independent of VNC as the error message says `org.openqa.selenium.UnsupportedCommandException: mouseMoveTo` can't imagine how VNC can be related to that error. Can you double check your versions?

[2017-05-23 16:57] #39 closed

[2017-05-23 17:54] tnguyen14 commented on #492
Oh you're right. It doesn't work on firefox, period. The reason I thought it was working on firefox-debug was because a script automatically switched from firefox-debug to chrome-debug in our test run due to #478. I stand corrected.

[2017-05-23 18:40] elgalu commented on #492
I think we can agree this is not a docker-selenium issue but upstream Selenium one so would be valid to close it here, what do you think?

[2017-05-23 18:51] #492 closed

[2017-05-24 03:38] robertpearce commented on #429
yes, which would be super useful as we're hitting the resource limits on our aws instances using the standard selenium images. Headless should help there.

[2017-05-24 10:08] McSnowflake commented on #481
I use a selenium docker grid, with the hub being not a docker container for various reasons. I needed the -remoteHost param to tell the node which port to tell to the hub when registering. Because the exposed port is not the same as the port used inside the container (default 5555).
To use the -port param as supstitute, I would have to make sure that exposed and internal port are the same, which I

[2017-05-24 12:06] McSnowflake commented on #307
After the removal of the REMOTE_HOST param, is it somehow possible to have selenium docker nodes with different internal and exposed node ports?

Because I use Rancher to expose the (default) 5555 to a random free port, to be able to run severall selenium nodes on the same host and let them connect to a (non-docker) selenium hub. I used REMOTE_HOST to tell the node to give the exposed port to the

[2017-05-24 14:42] tparikka commented on #481
I previously logged issue #432 for what I think is the same thing you're describing here and at #307 and at that time the information I was given was that if you're running multiple Selenium node containers manually with docker run, you'll have to assign each container a unique publicly facing port that is the same as the internal Selenium node listening port, like so:

`docker run -d --name node1

[2017-05-26 15:21] pmryhlotskyi opened #493 "Firefox crashes started with the Webdriver"
## Meta -
Image(s):

hub
Docker-Selenium Image Version(s):

3.4.0, revision: unknown

OS:

Ubuntu 16.04.2 LTS
Browser: Mozilla Firefox 53.0

## Expected Behavior -

Browser should be started, test executed and browser should be closed.

## Actual Behavior -
1. Browser starts
2. Login through login page
3. Browser crashes on SIGSEGV sygnal and error:

May 25 09:05:56 aws-dev-az1-inf-seleniumgrid-1

[2017-05-28 16:06] diemol commented on #493
Hi @pmryhlotskyi,

Can you provide more information please?

- Exact image version you are using.
- Commands used to start the docker images
- A piece of code to help us reproduce the issue?

[2017-05-28 16:13] diemol commented on #491
Hi @arvinder06,

Are you running docker natively on Windows? If so, I think you can go directly to localhost instead of 192.168.99.100.

If you still have a problem, please provide more information:
- Exact image version you are using.
- Commands used to start the docker images

[2017-05-28 16:18] elgalu commented on #493
And is also strange that the logs says Chrome crashed but this is reported as a Firefox issue.

[2017-05-28 16:24] diemol commented on #490
Hi @gokulganthtm,

I googled the error and the first two results are issues created in the docker-selenium and selenium projects respectively, did you check the solutions provided there?

https://github.com/seleniumhq/selenium/issues/1158
https://github.com/SeleniumHQ/docker-selenium/issues/198

If the solutions mentioned there don't work, please provide more information about your environment, ex

[2017-05-28 16:27] diemol commented on #489
@dmitrygusev, the error you mention:
`/opt/bin/entry_point.sh: line 26: : command not found`
should be gone when #477 gets merged.

[2017-05-28 16:46] diemol commented on #484
Hi @baozhida,

I am guessing that you want to access the grid from other host, and you are using docker with virtual box in Windows 7. If that is correct, this should help you https://stackoverflow.com/questions/33814696/how-to-connect-to-a-docker-container-from-outside-the-host-same-network-windo

Else, I would suggest you to research that, it mostly sounds like a docker configuration that needs

[2017-05-28 16:52] diemol commented on #483
Hi @eino-makitalo,

In the template you mention, I don't see that the containers are started with the host's shared memory mounted (`-v /dev/shm:/dev/shm`, this is now needed for Firefox as well), see [here](https://github.com/SeleniumHQ/docker-selenium#running-the-images)

Are you trying that when you start the docker-selenium?

[2017-05-28 16:55] diemol commented on #482
Do you know if there is a docker image already with it? I didn't find anything.

[2017-05-28 17:03] diemol commented on #481
Yeah, you would need a proxy on top of that to do some port forwarding...
@desertaxle, if it is possible for you, you could set both ports to be the same ones (exposed and internally mapped one).

@McSnowflake, is there a way for you to know the port that the orchestration tool assigned before starting the container? Perhaps an env var that you can pass?

[2017-05-28 17:13] diemol commented on #461
Hi @kariasbolster,
How are you starting the containers in the EC2 instance?  Could you share the exact command you are using?

[2017-05-28 17:14] diemol commented on #460
@peterstory,
As this is not a docker-selenium issue, could you please close it?

[2017-05-28 17:17] diemol commented on #457
True, when the network is the host this wouldn't work. Maybe you would like to submit a PR @apakhomov ?

[2017-05-28 17:28] diemol commented on #431
Sounds good, so you are now sharing the shm memory with the first container you start? (Asking about the docker in docker thing, https://github.com/SeleniumHQ/docker-selenium/issues/431#issuecomment-290932674).

If things seem to work now, perhaps you could close the issue.

[2017-05-28 17:31] diemol commented on #429
@graingert, is it possible already to run Chrome headless without xvfb?

[2017-05-28 17:33] graingert commented on #429
Yes

On 28 May 2017 18:31, "Diego Molina" <notifications@github.com> wrote:

[2017-05-28 17:34] diemol commented on #402
@manoj9788, since you created this [tutorial](http://www.assertselenium.com/continuous-delivery/setting-up-selenium-grid-on-kubernetes/) for docker-selenium in k8s... Did you experience this issue?

[2017-05-28 17:47] diemol commented on #363
@MegaUkrainian I think this is not in the highest priority, but I was wondering if you want to submit a PR with the proposed change?

[2017-05-28 18:07] #431 closed

[2017-05-28 18:14] diemol commented on #345
@FNRG, did you try the recommendation from @chiluap?

@Janki2, it should be able to connect, did you try? Just check your networking configuration.

[2017-05-28 18:24] diemol commented on #330
This is actually a good idea @shankarkc, perhaps you can consider to submit a PR with a proposed change?

[2017-05-28 18:27] diemol commented on #429
@graingert I was asking because if this https://github.com/SeleniumHQ/docker-selenium/issues/429#issuecomment-296379624
Do you have an example of an image running Chrome headless without xvfb?

[2017-05-28 18:28] diemol commented on #318
@porsuv which language?

[2017-05-28 18:37] diemol commented on #213
I think this was already accomplished by @ddavisona while ago, right? This issue should be closed then.

[2017-05-28 18:39] diemol commented on #203
@jmakov, is this still happening with the most recent image version?

[2017-05-28 18:41] diemol commented on #193
Hi @iGitScor, how did it go with the seleniumhq images? Did it work?

If you didn't use them, I think we can close this issue.

[2017-05-28 18:47] diemol commented on #178
@caioquirino, I am not seeing this message in the latest debug images, could you please check again?

[2017-05-28 18:48] diemol commented on #176
Hi @caioquirino,

When the test completes, do you use `driver.quit()`?
Otherwise the browser will not close.

[2017-05-28 18:52] diemol commented on #173
Hi @tnguyen14, were you successful?

I think that thanks to @vbyjsue suggestion we can close this issue, don't you think?

[2017-05-28 19:01] diemol commented on #164
@slugics you can now also do it by passing the variables when you start the container, see https://github.com/SeleniumHQ/docker-selenium/blob/master/Hub/Dockerfile#L15

You can pass them, for example, as `-e GRID_MAX_SESSION=30`.

[2017-05-28 19:19] diemol commented on #145
Hi @strowi,

I think this is not needed because, if I am not wrong, the Grid will detect this and it is part of the capabilities.

E.g.: (check the capabilities part).

![image](https://cloud.githubusercontent.com/assets/5992658/26531534/51eaa650-43eb-11e7-8eb6-f47c9b062d12.png)

[2017-05-28 19:27] diemol commented on #186
@bobbotron this seems to be included in the most recent versions.

![image](https://cloud.githubusercontent.com/assets/5992658/26531594/705b0318-43ec-11e7-9fad-73512c8b3887.png)

Looks like the issue can be closed, right?

[2017-05-28 19:52] diemol commented on #137
Hi @vikramvi, is this still an issue?

Perhaps sharing the host memory would help?

[2017-05-28 19:56] diemol commented on #135
Is this issue still present with the most recent images?

[2017-05-28 20:00] diemol commented on #36
@smccarthy is right, that commit addressed this issue. Can someone close it?

[2017-05-28 20:07] diemol commented on #142
@niksy if you are using the standalone image, you need to go to http://192.168.99.100:4444/wd/hub/static/resource/hub.html (localhost in case you are using a more recent version of docker).

[2017-05-29 02:24] kariasbolster commented on #461
Closing this issue. It was because of folder permission.

[2017-05-29 02:24] #461 closed

[2017-05-29 11:08] arvinder06 commented on #491
@diemol Thanks a lot for your reply.
I have installed Docker toolbox for Windows from docker's official site. I am running this in office (behind corporate  proxy).
The IP adddress I am using to see grid console is actually the IP address of Selemium Hub container which I got from Kitemetic after running the selenium containers (Hub and node) using below commands on docker:

Hub
docker run -d -p 5

[2017-05-29 12:49] porsuv commented on #318
Previously I tested abd used Thai language.

On 29 May 2017 1:28 am, "Diego Molina" <notifications@github.com> wrote:

[2017-05-29 13:02] diemol commented on #491
@arvinder06 Which Windows version are you using?

[2017-05-29 13:03] arvinder06 commented on #491
Windows 7

[2017-05-29 13:13] peterstory commented on #460
Thanks for figuring out how to get it working! With PhantomJS seeming to be on the way out, I've actually settled on using the Firefox images (at least until Chrome headless becomes available), despite the higher memory usage.

[2017-05-29 13:13] #460 closed

[2017-05-29 14:31] diemol commented on #491
If you are using docker toolbox then I guess that localhost doesn't work.

Try with your docker-machine ip instead of localhost.
https://docs.docker.com/machine/reference/ip/

[2017-05-29 14:35] arvinder06 commented on #491
Yup, I tried this also. This shows Connection Refused, as in screenshot above.

[2017-05-29 16:02] diemol commented on #139
Hi @vikramvi,

I didn't really understand what you want to achieve... Could you please elaborate a bit more?

[2017-05-29 16:26] diemol commented on #359
Hey @ddavison,

I merged my gist and @rnemeth1980's comment into a wiki page here:
https://github.com/SeleniumHQ/docker-selenium/wiki/How-to-use-a-Firefox-custom-profile

After this, I think this issue could be closed, right?

[2017-05-30 01:53] Rosefox911 commented on #429
@diemol @graingert

I would also like to know this.

[2017-05-30 01:55] SpencerMalone commented on #429
It was recently mentioned here:
https://bugs.chromium.org/p/chromedriver/issues/detail?id=1772#c12 that you
might be able to use a different flag when chrome is compiled to fix the
sendkeys issue, but I've yet to try it.

On May 29, 2017 9:53 PM, "Jorge Delgado" <notifications@github.com> wrote:

[2017-05-30 06:20] #36 closed

[2017-05-30 06:48] Rosefox911 commented on #429
I have found a workaround. It is simply to not use send key and instead use Javascript. Here is an example:

[code]

becomes:

[code]

There are multiple selectors for javascript you can use including name, id, class, etc. The above example is with python but it should work with all languages that allow javascript executions using selenium. As a temporary workaround, I would suggest using this.

[2017-05-30 06:52] elgalu commented on #318
@porsuv you could try to figure out with Ubuntu package needs to be installed, see for example how this was done for japanese/chinese fonts: https://github.com/elgalu/docker-selenium/pull/153/files

Once you do that make sure to report here how much disk space it takes.

[2017-05-30 07:14] elgalu commented on #491
You could also try posting your question in stackoverflow @arvinder06 and put the link here so we can keep track of it.

[2017-05-30 07:55] diemol commented on #491
I couldn't get a Windows machine to try your setup. Nevertheless, after reading your comments above, it looks like an issue with your network configuration. Perhaps you can ask directly to the network guys in your company?

You can also try to the basic docker container with nginx tutorial https://docs.docker.com/kitematic/nginx-web-server/
If you can connect to the app being built there, you shou

[2017-05-30 08:09] arvinder06 commented on #491
@diemol
Thanks again for your reply. The problem is when I am opening Kitematic, below error:

![image](https://cloud.githubusercontent.com/assets/28785545/26574011/295ee196-4563-11e7-8ba4-3669f21a5c8a.png)

[2017-05-30 08:15] diemol commented on #491
It really looks like your docker setup is not correct. It is hard for us to help when docker is not working properly, sorry.

I would suggest that you research on your own a bit those errors and fix your docker environment, for example the first google result for that message is https://github.com/docker/kitematic/issues/1633

When you are able to run docker properly, try docker-selenium again ple

[2017-05-30 11:30] #491 closed

[2017-05-30 11:35] ddavison commented on #359
sweet!

[2017-05-30 11:35] #359 closed

[2017-05-30 11:37] ddavison commented on #142
closing. feel free to reopen if this is still an issue.

[2017-05-30 11:37] #142 closed

[2017-05-30 11:44] ddavison commented on #135
closing. assuming this is issue is not present using the latest docker version and image versions.  if this is an incorrect assumption, we can reopen.

[2017-05-30 11:44] #135 closed

[2017-05-30 11:45] #186 closed

[2017-05-30 11:46] #145 closed

[2017-05-30 11:48] ddavison commented on #164
@slugics also, since you want to pass to individual nodes, this proves a difficult situation since docker containers are spun up in clusters.

If all you are editing is the timeout, then you should have different clusters spun up with different timeouts and not worry about node-individuality.

[2017-05-30 11:48] #164 closed

[2017-05-30 12:00] #173 closed

[2017-05-30 12:02] ddavison commented on #176
closing as this is assumed no longer an issue.  if it is we can reopen.

[2017-05-30 12:02] #176 closed

[2017-05-30 12:02] #178 closed

[2017-05-30 12:04] ddavison commented on #193
closing - reopen if this is present in the official docker-selenium images @iGitScor 👍

[2017-05-30 12:04] #193 closed

[2017-05-30 12:05] #213 closed

[2017-05-30 12:30] iGitScor commented on #193
Do you have a link for this official image ?

[2017-05-30 12:31] ddavison commented on #193
you're looking at it 😃   https://github.com/seleniumhq/docker-selenium

[2017-05-30 12:32] iGitScor commented on #193
@ddavison  I'll let this issue closed even if the issue is for this image

[2017-05-30 12:34] ddavison commented on #193
so you still have this issue using these images?

[2017-05-30 13:18] luckytaxi commented on #493
@diemol

I'm working with @pmryhlotskyi on this. Answers below ...

* According to docker images I see this - `25dec9f86c68`. Is this what you're looking for?
* I'm using `docker-compose` to run. Not sure how to get the exact run command.
* I'll have to revert to @pmryhlotskyi for this.

[2017-05-30 13:18] luckytaxi commented on #493
@elgalu That was my thought as well when I saw the log file. Not sure what's up with that.

[2017-05-30 17:07] pmryhlotskyi commented on #493
Code which calls webdriver (Scala)

  var profile: FirefoxProfile = new FirefoxProfile()
  profile.setAssumeUntrustedCertificateIssuer(false)
  profile.setPreference("browser.cache.disk.enable", false)
  profile.setPreference("browser.cache.memory.enable", false)
  profile.setPreference("browser.cache.offline.enable", false)
  profile.setPreference("network.http.use-cache", false)
  profile.setPre

[2017-05-31 02:16] arvinder06 commented on #491
Ok, thanks Guys. I will do more research on this and will post the solution here if find anything. Thanks again for your time. :)

[2017-05-31 06:42] elgalu commented on #492
Does someone knows which was the last version of Firefox & Selenium that this worked?

[2017-05-31 17:07] pmryhlotskyi commented on #493
@elgalu. This SIGSEGV error is related to the Firefox (plugin container). See [here](https://bugs.launchpad.net/ubuntu/+source/firefox/+bug/1656065)

[2017-06-02 13:14] pmryhlotskyi commented on #493
Any updates, guys?

[2017-06-02 17:34] rajatjindal83 commented on #135
This issue is still happening. I tried running my tests with 3.4.0 selenium-firefox & selenium-firefox-debug, and they are extremely slow.

When I run same tests using Selenium running on my MAC, they work just fine

[2017-06-02 19:07] ddavison commented on #135
@rajatjindal83 are you using the details provided in https://github.com/SeleniumHQ/docker-selenium#running-the-images?

specifically, the `/dev/shm` bit?

[2017-06-03 03:45] rajatjindal83 commented on #135
Hi @ddavison

that was for Chrome isn't it? I can give it a shot.

on recommendation of someone in #selenium IRC, i tried same set of tests with Chrome docker container (even this without /dev/shm bit), and they were pretty fast as compared to firefox docker container.

I think this might be a problem with Firefox container only. Are there any commands/debug steps that I can run to find more infor

[2017-06-04 03:47] ddavison commented on #135
that's för both firefox and chrome

[2017-06-06 11:32] gokulganthtm commented on #490
@diemol Thanks for your reply ...
Sorry for the delay :(
It works now with https://github.com/seleniumhq/selenium/issues/1158

[2017-06-06 11:32] #490 closed

[2017-06-06 14:49] BluePhoenix commented on #429
This link was shared with me, and seems to have a lot of nice details that might help with what we are trying to achieve here.

**Getting Started with Headless Chrome**
By Eric Bidelman
https://developers.google.com/web/updates/2017/04/headless-chrome

[2017-06-09 15:18] jonaseicher commented on #392
Version 3.4.0-chromium has the DBUS_SESSION issue fixed, but I had to mount /dev/shm volume to fix the page-crashes.
Also works on OpenShift: https://docs.openshift.org/latest/dev_guide/shared_memory.html

[2017-06-12 20:06] UsainBloot commented on #429
I found this to be the best solution to running chrome headless.

https://github.com/SeleniumHQ/docker-selenium/issues/429#issuecomment-296379624

**Chromedriver 2.30** which was released a couple of days ago allows for the resizing of the browser window (as it was previously done via an extension which are not allowed in headless and [since moved to a dev tools API](https://sites.google.com/a/chr

[2017-06-12 20:56] graingert commented on #429
You've got to hack sendKeys via JavaScript

On 12 Jun 2017 21:54, "Jack Palmer" <notifications@github.com> wrote:

[2017-06-12 21:12] UsainBloot commented on #429
I understand that you can use JavaScript as a work around but as I am using selenium to recreate user journeys then the steps should reflect how a user is interacting with a webpage, rather than using a hack to get by.

Unless chromium address this issue then I don't see headless chrome being a viable headless browser.

[2017-06-13 20:15] AlexMarchini commented on #461
@kariasbolster Could you elaborate? I'm having a similar issue. Did you need to set a permission on the docker container itself or the host machine?

[2017-06-14 03:39] kariasbolster commented on #461
@AlexMarchini, i did a chmod to this folder ```"/home/seluser/Downloads"``` . It was weird why I needed to do it since as you can see from the data above the RW field is true.

[2017-06-14 07:03] BruceDone commented on #481
@McSnowflake
after i looked deep into the source code ,if you use the -port in the SE_OPTS , the NODE_PORT in the node docker env will be replaced by this value , so if you really need to deploy the selenium grid in different machines , here is the way .

Machine A  ip:10.10.2.38
docker-compose
[code]

Machine B ip:10.10.2.52
[code]

and it works well.

[2017-06-14 10:16] jconroy opened #497 "NodePhantomJS Browser_Timout"
Image(s):
* Hub
* NodePhantomJS
* NodeChrome

Docker-Selenium Image Version(s):
* 3.4.0-dysprosium

OS:
* Ubuntu
* OSX

### Behaviour

I run the follow commands to load up a small grid configuration - 1 Hub, 1 Chrome Node, 1 PhantomJS Node and I set some custom timeouts e.g.

[code]

When I view the hub config I can see the timeouts are set for the hub e.g. [https://cl.ly/0M2N3S3a3J21](https://cl.

[2017-06-14 12:23] AlexMarchini commented on #461
@kariasbolster Thanks! Got it working.

For anyone else that runs into this, the exact command I used to set permissions was:
docker-compose exec chrome sudo chmod -R 777 /home/seluser/Downloads

[2017-06-14 13:46] ddavison commented on #497
this is indeed an interesting issue - will have to investigate.

[2017-06-14 21:15] jconroy commented on #497
thanks @ddavison I'm going to keep digging as well, greatly appreciate the extra brain cycles.

[2017-06-15 11:34] ycwdaaaa opened #499 "webdriver very slow when running 20 browsers"
when I use docker-selenium hub and chrome node, I found that it runs very fast when I use only one node and browsers, but it was very slow after I change the config to run 20 browsers.

[2017-06-15 15:48] phtrivier opened #500 "NPE in standalone-chrome when setting `implicitlyWait`"
## Meta -
Image(s):
* standalone-node
Docker-Selenium Image Version(s):
* 3.4.0
OS:
* ubuntu 17.04

## Expected Behavior -

* Start the image locally

[code]

* Set env variable to test npm `selenium` package to use the image

[code]

* Run a very basic script that just creates a driver

[code]

* The last line (setting `implicitlyWait`) triggers an NPE in the image:

[code]

## Actual Behavior -

[2017-06-15 16:40] ddavison commented on #499
ok a few questions here:

"run 20 browsers"  how exactly are you running 20 browsers?

20 selenium/node-chrome's connecting to 1 hub?
1 selenium/node-chrome with NODE_MAX_INSTANCES set to 20 connected to 1 hub?

please share your invocation code with us so we can help

[2017-06-16 01:01] saharshsingh opened #501 "Unable to use a host port other than 5555 for Selenium Grid nodes"
## Meta -
Image(s):  selenium/node-chrome, selenium/node-firefox

Docker-Selenium Image Version(s):  3.4.0, 3.2 (might be all 3.x.x)

OS: Red Hat 4.8.3-9

## Expected Behavior -

Running the following command should succesfully start a Chrome Node and register it with a hub running at 1.2.3.4:4444.

`docker run -d --restart unless-stopped -e HUB_PORT_4444_TCP_ADDR=1.2.3.4 -e HUB_PORT_4444_TCP_PORT

[2017-06-16 01:06] tparikka commented on #501
See #432 for information.

[2017-06-16 01:11] saharshsingh commented on #501
I reverted my container versions back to 2.53.0, and the expected behavior can be achieved via the following command:

`docker run -d --restart unless-stopped -e HUB_PORT_4444_TCP_ADDR=1.2.3.4 -e HUB_PORT_4444_TCP_PORT=4444 -e REMOTE_HOST="http://1.2.3.4:5556" -p 5556:5555 --name selenium-chrome-node selenium/node-chrome:2.53.0`

Seems like something that was working in 2.x.x (using REMOTE_HOST) i

[2017-06-16 02:45] ycwdaaaa commented on #499
@ddavison I use 4 nodes and 4 browsers per node.  below is my docker-compile file
hub:
  image: selenium/hub:3.2.0
  ports:
    - 4444:4444
  environment:
    - GRID_TIMEOUT=0
    - GRID_THROW_ON_CAPABILITY_NOT_PRESENT=true
    - GRID_NEW_SESSION_WAIT_TIMEOUT=-1
    - GRID_BROWSER_TIMEOUT=15000
    - GRID_TIMEOUT=30000
    - GRID_CLEAN_UP_CYCLE=30000
chrome1:
  image: chrome_test
  container_name:

[2017-06-16 07:26] saharshsingh commented on #501
Thanks tparikka!

I see the `-e NODE_PORT=5556 -p 5556:5556` part is what I was missing.

Closing this issue.

[2017-06-16 07:26] #501 closed

[2017-06-16 15:36] diemol commented on #82
Closing this issue since we didn't get any feedback from the original poster.

[2017-06-16 15:36] #82 closed

[2017-06-16 15:38] #86 closed

[2017-06-16 15:45] diemol commented on #105
Closing this issue since we didn't get any feedback from the original poster.

[2017-06-16 15:45] #105 closed

[2017-06-16 15:46] diemol commented on #88
Closing this issue since we didn't get any feedback from the original poster.

[2017-06-16 15:46] #88 closed

[2017-06-16 15:49] diemol commented on #387
Closing it since it was just a little mistake that does not affect functionality at the end.

[2017-06-16 15:49] #387 closed

[2017-06-16 15:55] diemol commented on #298
Closing this issue since we didn't get any feedback from the original poster.

[2017-06-16 15:55] #298 closed

[2017-06-16 20:05] ktkopone commented on #87
Also experiencing this issue in Windows 10 (no container) when using Beta Chrome release 60.0.3112.32, but only when running chrome in the new --headless mode (which chromedriver doesn't ostensibly support yet, admittedly, but for my very simple test case it seems fine when I do get chromedriver launched).

Launching chromedriver from python with --headless and --disable-gpu nets me the intermitte

[2017-06-19 12:17] 0xC4N1 commented on #492
Confirmed. Works with Selenium 2.53.1 and FF 47.0.1

[2017-06-19 15:58] thibaut-sticky opened #503 "Cannot find how provide hub address to a node"
Images:  node-chrome or node-firefox
Docker-Selenium Image Version: 2.53.0 and latest.
OS: Debian 8

**Expected behavior**
Give to a docker selenium node, a remote hub address. Like I did it already for a non docker node.

**Current behavior**
It look like I have to use REMOTE_HOST, or SE_OPTS with -hub. But I cannot find any documentation about this.

So how to do it?

[2017-06-19 16:08] tparikka commented on #503
You can specify the hub address using the environment variables HUB_PORT_444_TCP_ADDR or HUB_PORT_444_TCP_PORT. For example, if running from command line:

-e HUB_PORT_4444_TCP_ADDR=10.10.1.10 -e HUB_PORT_4444_TCP_PORT=4444

[2017-06-20 03:21] jconroy commented on #497
@jesg or @Vitallium have either of you come across timeout issues with phantomjs in grid configuration?

[2017-06-20 07:29] thibaut-sticky commented on #503
Works perfectly. :)
It's the same for version 3+?

[2017-06-20 10:04] ari-el-muhandiz commented on #429
@Rosefox911 thanks, your solution is working for me

[2017-06-20 10:45] jesg commented on #497
correct it is from the hub.  ghostdriver does not implement timeout

imo it's best to start up a fresh phantomjs instance per test.  phantomjs has fast startup performance so there shouldn't be much difference.  @jconroy you might be running into a memory issue when running phantomjs for a long period of time.

[2017-06-20 16:08] ddavison commented on #503
was thinking the same.   the documentation is fairly lacking right now.  I'll be in Seattle for the next two weeks in office and very busy so if somebody else could try their hand at it, that'd be awesome!

[2017-06-20 16:50] prashanth-sams commented on #198
@krasnoukhov do you've any samples in your repo ? would be much helpful

[2017-06-20 20:00] diemol commented on #474
#477 was already merged and released, therefore I'll close this one.

[2017-06-20 20:00] #474 closed

[2017-06-20 22:34] jconroy commented on #497
thanks for the thinking @jesg !

I'm not totally sure its that here - in all of my debugging above phantomjs has been up for less than an minute - I've been firing it up and then testing, all my tests in totally only go for 2-3min. I've actually been surprised how long I can keep phantomjs up and up running (days, usually weeks without too many issues).

Ok I'll look into some approaches for this,

[2017-06-21 13:51] mfoksinski commented on #487
@LusciousPear
Have you been able to fix this ? I am encountering the same problem.

[2017-06-21 16:35] guillaumevincent commented on #429
@UsainBloot Do you solve your issue? Because even with Xvfb installed in my docker container my chromedriver is not working

[2017-06-21 16:46] UsainBloot commented on #429
@guillaumevincent, I haven't look at it since because in my own opinion, having to use xvfb with chrome headless does not make the browser headless.

Chromium devs have said that they will look into it, but have not given a timeframe.

[2017-06-21 19:47] kellinwood commented on #318
I ran into the same issue testing our website.   We discovered issues caused by missing fonts for japanese, chinese, korean, and thai in the stock selenium-docker images and worked around the problem by building custom docker images.  An example Dockerfile given is shown below:

[code]

[2017-06-22 08:20] guillaumevincent commented on #429
I confirm @UsainBloot answer. Here an error on docker centos 7 running chromedriver 2.30:

[code]

So the only gain for now to use Chrome headless is to no longer need Java.
We still need fonts and Xvfb running. Here a solution on docker centos 7:

[code]

I will check on chrome-unstable to see if there is any improvement

[2017-06-22 13:56] tabiodun commented on #429
@SpencerMalone which args and which environment are you trying to use to build chrome. I can't seem to get it to work after building with the ozone flag on Ubunutu 14.04

[2017-06-22 14:39] pwaller commented on #178
I have just hit this. A firefox tab crashes, then this appears on the console. The crash is 100% reproducible on my side, but unfortunately I can't easily provide a minimal reproducer.

I'm using the `selenium/node-firefox-debug:3.4.0` image.

[code]

[2017-06-22 14:58] SpencerMalone commented on #429
I don't have it working yet either, I was going off of reports from the chromium ticket I opened here: https://bugs.chromium.org/p/chromedriver/issues/detail?id=1772

I'm still struggling with getting a fast and repeatable build for chrome in docker. Currently it takes many hours and can't even be done on a default devicemapper file system because the dang image ends up so large.

[2017-06-22 20:15] endqwerty opened #504 "New containers stop receiving connections after a while"
## Meta -
Image(s):  standalone-chrome
Docker-Selenium Image Version(s):  3.4.0-dysprosium
OS: OSX
## Expected Behavior -

New containers work (receive selenium commands) and the Selenium Console is accessible through the exposed port

e.g. http://localhost:32778/wd/hub/static/resource/hub.html

## Actual Behavior -

After a couple of executions (approx 5) the standalone containers refuse connecti

[2017-06-22 20:22] tparikka commented on #504
This sounds like you're describing the issue reported at docker/for-win#426. It was reported in January and has still not been fixed. The Docker team last responded to the ticket April 21, and has not updated since then.

[2017-06-22 20:33] endqwerty commented on #504
@tparikka Thanks. It looks like the exact issue I'm getting. Interestingly though, my issue with just one container running at a time. I have Jenkins managing the docker container and it prevents executing tests in parallel.

From the comments, it looks like a potential solution is to run docker in a linux VM? I'm not opposed to using a VM or other machine, I just want the Docker containers to be

[2017-06-22 21:52] tparikka commented on #504
I read the same although I haven't tried it myself so I can't verify. The is solely in Docker itself though, not at all related to anything in our repo.

[2017-06-22 22:05] tnguyen14 opened #505 "Question about chrome and host memory"
Following the suggestion on the README about using the host's shared memory for Chrome:
[code]

If I want to run multiple selenium tests at the same time, one way is I could spin up multiple `standalone-chrome` containers, however, this could cause problem some time, and I think it has to do with mounting the same `/dev/shm` to multiple containers?

If I was to use the hub, and then starting a new

[2017-06-23 11:53] dgangwar opened #506 "3.4.0-dysprosium still has FF53 instead of FF54"
## Meta -
Image(s):  3.4.0-dysprosium

Docker-Selenium Image Version(s):

OS: LINUX

## Expected Behavior -

## Actual Behavior -

[2017-06-23 13:22] DmitryRendov commented on #135
can confirm quite sensitive performance degradation after upgrade CentOS 6 -> 7 on host servers
Looking for any possible solutions.

[2017-06-23 14:26] peterstory commented on #178
Does loading this URL trigger the issue for you?
http://www.firsttouchgames.com/w/?page_id=1427

[2017-06-23 14:32] pwaller commented on #178
I have resolved the issue, it turned out to be an issue of shm-size, see https://github.com/SeleniumHQ/docker-selenium/pull/485 and related issues. Increasing it to 1G and haven't encountered the crash since.

[2017-06-23 14:38] peterstory commented on #178
Cool, hopefully that will fix the issue for me as well! Still waiting on the FF v54 image to be released (currently using a custom image with a beta), but then I'll give it a shot.

[2017-06-23 16:22] ddavison commented on #506
[correct](https://github.com/SeleniumHQ/docker-selenium/blob/3.4.0-dysprosium/NodeFirefox/Dockerfile#L13).

[the commit](https://github.com/SeleniumHQ/docker-selenium/commit/9ff16f9f453e1345df0e7bac391cc39fcc529d0a) to change the firefox version was merged in **after** dysprosium was released.  the next release will have it :+1:

[2017-06-23 16:22] #506 closed

[2017-06-23 23:59] tabiodun commented on #429
I finally got a build of chrome using docker that seems to confirm that the ozone flag does fix this issue. I haven't run it against my test suite, but the sample selenium python example that uses `sendKeys` works.

[2017-06-24 14:57] SpencerMalone commented on #429
I'm at the same point. For those following along, my final dockerfile for building chrome/chromedriver w/ ozone: https://gist.github.com/SpencerMalone/6f764a101c9ffd4a86829f158eef9d41

 I must have screwed up something along the way as I cannot copy the final artifacts (chrome+chromedriver) into another image as use them. None of the libraries seem linked properly?

Regardless, if you feel like do

[2017-06-24 16:03] tabiodun commented on #429
Looks like the latest revision has fixed this issue https://codereview.chromium.org/2952383002 and https://bugs.chromium.org/p/chromedriver/issues/detail?id=1772#c28. I've built a version of this and it seems to now work WITHOUT the ozone flag. I'm hoping the next PPA for [google-chrome-unstable](https://www.ubuntuupdates.org/ppa/google_chrome?dist=stable) will have the changes and there will be n

[2017-06-24 16:55] diemol commented on #505
Hi @tnguyen14,

To run multiple tests in parallel, if you use standalone containers you would run into the issue of figuring out the url you need to pass establish the initial connection since each container would have a different IP. Besides that, I don't understand why you mention that it could bring problems over time.

The second approach is more suitable to run tests in parallel, the hub woul

[2017-06-24 17:26] diemol commented on #503
I just created #507. I'll close the issue when it gets merged.

[2017-06-24 17:44] diemol commented on #351
No feedback from original poster, closing issue.

[2017-06-24 17:44] #351 closed

[2017-06-24 17:53] UsainBloot commented on #429
Great find @tabiodun, hopefully the next build will solve our issues!

[2017-06-24 17:55] graingert commented on #429
Yeah and it would be super cool to get this working with docker selenium

On 24 Jun 2017 18:53, "Jack Palmer" <notifications@github.com> wrote:

[2017-06-25 10:40] diemol commented on #503
Just merged #507, closing this issue then.

[2017-06-25 10:40] #503 closed

[2017-06-25 14:34] diemol commented on #500
I was able to reproduce it both using the standalone container and also using the Selenium jar file directly, and therefore it is not a docker-selenium issue.

That's why I created an issue in the Selenium repo: https://github.com/SeleniumHQ/selenium/issues/4221

@phtrivier, please follow that issue, I will close this one.

[2017-06-25 14:34] #500 closed

[2017-06-25 14:50] diemol commented on #499
@ycwdaaaa,

A few questions:
* What is this `chrome_test` image you are using? Did you build it yourself? Maybe you can try with the official images?
* You are using the `selenium/hub:3.2.0` image, can you try to upgrade? Many improvements to the images have been done since that release.
* How do you limit each node to use 4 browsers? Besides I see 4 Chrome nodes, but you mention slowness when run

[2017-06-25 16:41] diemol commented on #493
Hi @pmryhlotskyi,

Sorry for the late reply.

Thanks for providing the link to the bug description, I read the whole thread, and if I understood correctly, this happens when some pages use flash and then Firefox crashes.

At the end, what I got from that bug report is that this is related entirely to Firefox, right? I don't know what should be done in docker-selenium to fix the situation, other th

[2017-06-25 16:43] diemol commented on #489
@dmitrygusev, #477 was merged and released some days ago. Could you please try again?

[2017-06-25 16:45] diemol commented on #484
Closing this issue since we didn't get feedback from the OP.

[2017-06-25 16:45] #484 closed

[2017-06-25 16:49] diemol commented on #447
I was trying to find ways to reproduce as well and I was not successful.

I am not sure if the situation improved with the latest release for you @NiGhTTraX, did you find a way to reproduce it?

[2017-06-25 16:56] diemol commented on #389
Closing the issue since we never got feedback from the OP.

[2017-06-25 16:56] #389 closed

[2017-06-25 17:03] NiGhTTraX commented on #447
@diemol I haven't had a failure in quite a while, so maybe it was fixed. Closing for now and I'll reopen it if it happens again.

[2017-06-25 17:03] #447 closed

[2017-06-25 17:04] diemol commented on #447
Cool, let us know if you find something again. Thanks for the quick reply.

[2017-06-25 17:06] diemol commented on #352
Closing this issue as we didn't get feedback from the OP. Please re-open if more information is available.

[2017-06-25 17:06] #352 closed

[2017-06-25 17:25] diemol commented on #140
Thanks all for the great info!
I'll close this issue since the original request has been already solved by the community.

[2017-06-25 17:25] #140 closed

[2017-06-25 17:28] diemol commented on #215
@dgangwar are you still having this issue after trying @tommywo's suggestion with the latest images?

[2017-06-25 17:30] diemol commented on #344
Closing this issue as we didn't get feedback from the OP. Please re-open if more information is available.

[2017-06-25 17:30] #344 closed

[2017-06-25 17:31] diemol commented on #349
Closing this issue as we didn't get feedback from the OP. Please re-open if more information is available.

[2017-06-25 17:31] #349 closed

[2017-06-25 17:37] diemol commented on #216
Closing this issue as since the doubts were solved by the community. If something is missing from the documentation, please send us a PR and become a contributor :)

[2017-06-25 17:37] #216 closed

[2017-06-25 17:38] diemol commented on #362
Closing this issue as we didn't get feedback from the OP. Please re-open if more information is available.

[2017-06-25 17:38] #362 closed

[2017-06-25 17:40] diemol commented on #368
Hey @abhisheksreepal,

Were you able to check your setup? Did it work?

Let us know, otherwise we can close this issue.

[2017-06-25 17:46] diemol commented on #392
Yeah, the `/dev/shm` is needed for both Chrome and Firefox containers to prevent that.

I'll close the issue since in several others it was reported that the issue was solved. Nevertheless, please re-open if it is still not working for you (with a way to reproduce the issue as well).

[2017-06-25 17:46] #392 closed

[2017-06-25 17:50] abhisheksreepal commented on #368
@diemol,
Verified my setup and i don't see anything which make node unregister.

 For now, Please close the issue. Will try to investigate and update the same jira or create  new one

Thanks,
Abhishek

[2017-06-25 17:51] diemol commented on #313
@sixinli @kaplich @Chaoste, the most recent image already has Firefox 53.

Could you please try again to use the additional capability and report back to see how it went?

[2017-06-25 17:54] diemol commented on #310
@go2guy, if you were using Firefox and this is actually related to #313, the most recent image already has Firefox 53 that allows use insecure certificates.

Could you please try again to use the additional [capability](https://github.com/mozilla/geckodriver#webdriver-capabilities) and report back to see how it went?

[2017-06-25 17:55] diemol commented on #368
OK, let us know if how it went.
Closing the issue for now then, please feel free to reopen if you find any more info.

[2017-06-25 17:55] #368 closed

[2017-06-26 01:58] tabiodun commented on #429
After playing around a bit and looking at the commit for the fix, it looks like this is a chromedriver only problem, which means it it much easier to just build chromedriver standalone to use for any selenium tests you want to run. However, I think chromedriver is on a release schedule that is a bit less frequent so getting an official fix will have to wait for the next chromedriver release.

In c

[2017-06-26 06:45] thibaut-sticky commented on #503
Perfect, thx!

[2017-06-26 08:11] discobean commented on #481
I am having the same issue.

If the selenium agents could provide a way to tell the server a host/port it is using (rather than providing the -host and -port values), then it would solve the problem in both ECS and other docker orchestration tools.

By bringing back the -remoteHost or REMOTE_HOST variable this issue would be resolved.

[2017-06-26 08:40] graingert commented on #429
@tabiodun probably best to have this on docker hub.

[2017-06-26 11:35] rmanyala916 commented on #345
The following worked for me
docker-compose-selenium.yml
---------------------------------------------------------------------
version: '2'
networks:
  prodnetwork:
    driver: bridge
services:
 seleniumhub:
  image: selenium/hub
  ports:
    - "4444:4444"
  networks:
    - prodnetwork
 chrome:
  image: selenium/node-chrome-debug
  depends_on:
    - seleniumhub
  environment:
    - HUB_PORT_4444_TC

[2017-06-26 11:42] tabiodun commented on #429
@graingert Good call

https://hub.docker.com/r/tabiodun/selenium-chrome-headless/

[2017-06-26 14:44] pumano commented on #429
Good news guys:
according to: https://bugs.chromium.org/p/chromedriver/issues/detail?id=1772#c29
it fixed with : https://codereview.chromium.org/2952383002

as mentioned here: https://bugs.chromium.org/p/chromedriver/issues/detail?id=1772#c31

`The fix will be included in ChromeDriver 2.31. Its release date hasn't been determined yet.`

[2017-06-26 17:11] ddavison commented on #345
marking this as closed. no response for a month - assuming fixed. we can reopen if necessary :+1:

[2017-06-26 17:11] #345 closed

[2017-06-27 08:21] braindonor commented on #481
I've just hit this issue too.
I agree with @discobean on this:  "By bringing back the -remoteHost or REMOTE_HOST variable this issue would be resolved."

[2017-06-27 13:37] bbuchalter commented on #429
I don't see any way to subscribe to notifications for when a new version of chromedriver is released. Anyone have thoughts on that?

[2017-06-27 17:58] sixinli commented on #313
confirmed that it works! thanks!

[2017-06-27 17:58] sixinli commented on #313
confirmed that it works! thanks!

[2017-06-27 18:12] ddavison commented on #313
great news!  closing

[2017-06-27 18:12] #313 closed

[2017-06-28 07:44] Sovetnikov commented on #358
6 months later this issue still exists

[2017-06-28 07:48] diemol commented on #358
How can we reproduce it with the latest images @Sovetnikov?

Can you please provide a script that we can use?

[2017-06-28 07:52] Sovetnikov commented on #358
As in initial issue description:
docker run --rm selenium/standalone-chrome-debug sudo -E -i -u seluser env | grep DBUS
or
docker run --rm selenium/standalone-chrome:3.4.0-dysprosium sudo -E -i -u seluser env | grep DBUS

Two weeks ago i made update to 3.4.0-dysprosium image and again getting timeouts on new selenium sessions.

[2017-06-28 07:56] Sovetnikov commented on #358
3.1.0-astatine works fine:
docker run --rm selenium/standalone-chrome:3.1.0-astatine sudo -E -i -u seluser env | grep DBUS
seems DBUS fix is lost somewhere between 3.1 and 3.4

[2017-06-28 07:59] Sovetnikov commented on #358
Two lines in custom Dockerfile fixed it for my:
RUN echo 'Defaults env_keep += "DBUS_SESSION_BUS_ADDRESS"' >> /etc/sudoers
RUN echo "DBUS_SESSION_BUS_ADDRESS=/dev/null" >> /etc/environment

[2017-06-28 08:03] diemol commented on #358
If I do this: `docker run --rm selenium/standalone-chrome:3.4.0-dysprosium sudo -E -i -u seluser env`, I get this:

[code]

But if I do this: `docker run --rm selenium/standalone-chrome:3.4.0-dysprosium env` (without the sudo and so on...), I get this:

[code]

The processes in the container are not running as `root` anymore, everything is running with `seluser`, maybe that's why you don't see the

[2017-06-28 08:08] Sovetnikov commented on #358
Can you see DBUS_SESSION_BUS_ADDRESS in your output? I'm not ... this is a problem
This command shows that DBUS_SESSION_BUS_ADDRESS is in env: docker run --rm selenium/standalone-chrome:3.1.0-astatine sudo -E -i -u seluser env | grep DBUS

But this command shows that DBUS_SESSION_BUS_ADDRESS is NOT in env anymore with latest docker image: docker run --rm selenium/standalone-chrome sudo -E -i -u se

[2017-06-28 08:37] diemol commented on #358
The `DBUS_SESSION_BUS_ADDRESS` is set in the base node image under the `seluser` user. That is why I can just do `env` in the container and then see it.

When I do `sudo -E -i -u seluser env`, I don't see it. My question is, why do you need to use that command to check the env vars? I was checking and we are not running any of the commands in the container with `sudo`.

What I see for all containe

[2017-06-28 08:51] Sovetnikov commented on #358
This issue about debug image that runs selenium with sudo:
docker run --rm selenium/standalone-chrome-debug cat /opt/bin/entry_point.sh | grep sudo

Seems that initial issue was fixed in selenium/standalone-chrome image and it passed to debug image.
At now selenium/standalone-chrome has lost that fix and debug image as well.

[2017-06-28 09:12] diemol opened #508 "Tag for `latest` is not pointing to the most recent image release"
## Expected Behavior -
 When I do `docker pull selenium/standalone-chrome-debug`, I should get the latest release, right now is 3.4.0-dysprosium.
## Actual Behavior -
Right now I am getting a release done 2 months ago. This is because the `latest` is pointing to the wrong image.
Check https://hub.docker.com/r/selenium/standalone-chrome-debug/tags/

I think we made a mistake in the most recent rele

[2017-06-28 09:13] diemol commented on #358
I think I found the problem, but please help me check...

Try the same command you tried in the previous command, but using the tag `3.4.0-dysprosium`.

I think we made a mistake when we put the tag to the most recent images. That is why you might see something different, I created #508

[2017-06-28 09:19] diemol commented on #508
Also happening on:
https://hub.docker.com/r/selenium/node-phantomjs/tags/
https://hub.docker.com/r/selenium/base/tags/
https://hub.docker.com/r/selenium/standalone-firefox-debug/tags/

[2017-06-28 10:21] marctc opened #509 "Last Python Selenium version doesn't work with docker-selenium"
## Meta
Image(s):  hub & node-firefox
Docker-Selenium Image Version(s):  >3
Python Selenium Version: >3.4
OS: Ubuntu 14.04, Ubuntu 16.04

## Actual Behavior

I have a `docker-compose` file as it's explained [here](https://github.com/SeleniumHQ/docker-selenium/wiki/Getting-Started-with-Docker-Compose#step-1-write-the-docker-composeyml-file). I tried with the Python example of code that `Step 4` say

[2017-06-28 11:18] Sovetnikov commented on #358
this command returns empty result on clean server without pulled earlier selenium images: docker run --rm selenium/standalone-chrome:3.4.0-dysprosium sudo -E -i -u seluser env | grep DBUS

[2017-06-28 11:22] diemol commented on #358
@Sovetnikov, for that, I wrote this [comment](https://github.com/SeleniumHQ/docker-selenium/issues/358#issuecomment-311594874).

So, maybe you can help us to reproduce the issue as I mentioned in the last part of the comment?

[2017-06-28 12:24] McSnowflake commented on #481
@diemol As I said: the orcestration tool (rancher) randomly chooses the externel (ie exposed) port in the moment before the container is created. I know of no possiblilty of passing that into the container.

@BruceDone Thx for the Hint. I have to use
ports:
  - "5556"
in order to make rancher assign a random port. Does the SE_OPT NODE_PORT as -remoteHost did, ie telling the node to give the expose

[2017-06-28 13:21] lmtierney commented on #509
This is an issue with selenium grid, and is being worked on seleniumhq/selenium#3808

[2017-06-28 13:21] #509 closed

[2017-06-28 13:22] lmtierney commented on #509
I should mention it's only in grid mode and standlone mode works fine

[2017-06-28 20:43] tabiodun commented on #429
If anyone needs to build the latest chromedriver for testing with the fixes in place, I have a Dokcerfile for this. Once the chromedriver here is generated, it is portable.

https://gist.github.com/tabiodun/e4204ab83b3b7cfd2d28b478cf441162

[2017-06-28 20:53] grafa opened #510 "Tab crashes"
## Image(s)
Chrome standalone

## Docker-Selenium Image Version(s)
Latest (master on github) - 3.4.0 - build from this Dockerfile: https://github.com/SeleniumHQ/docker-selenium/blob/7b6ca64/StandaloneChrome/Dockerfile

## OS
Host OS is Linux Debian

## Expected Behavior
Not crashing

## Actual Behavior
Crashing :)

I have a set of URL's. These URLs point to Yahoo (so pretty heavy page). I walk thr

[2017-06-28 21:00] ddavison commented on #510
Could you share the Dockerfile/docker command that you are using to launch the container(s)?

FYI, for the future - instead of pastebin, you can more easily paste inside of the github issue (that way we don't have to rely on an external link that could expire)

<details>
<summary>Stack trace</summary>
This is the stack trace paste
</details>

I gave the above with this code:

[code]

[2017-06-28 21:25] Sovetnikov commented on #358
Just read my first message about this issue, all as described there.
This bug was fixed, but fix is lost now.
This issue about selenium/standalone-chrome-debug image that runs selenium by sudo and then DBUS_SESSION_BUS_ADDRESS variable is lost.

Just add:
RUN echo 'Defaults env_keep += "DBUS_SESSION_BUS_ADDRESS"' >> /etc/sudoers
RUN echo "DBUS_SESSION_BUS_ADDRESS=/dev/null" >> /etc/environment
to

[2017-06-28 23:20] alxlu opened #511 "Cannot connect to docker.for.mac.localhost"
## Meta -
Image(s):
node-chrome(-debug)
Docker-Selenium Image Version(s):
latest

OS:
macOS

## Expected Behavior -
Navigating to `docker.for.mac.localhost:PORT` on Google Chrome [will resolve to the internal IP used by the host](https://docs.docker.com/docker-for-mac/networking/).

## Actual Behavior -
`docker.for.mac.localhost refused to connect.`
If I connect to the container with VNC and run w

[2017-06-29 07:56] grafa commented on #510
Thank you for your response.

The Selenium part in my `docker-compose.yql` is pretty simple:

[code]

I run my app with `docker-compose up`

@pastebin
I did it on purpose because the stacktrace is "wide" and if you paste it to github issue which is like 500px wide it gets shrinked and pretty much unreadable. I guess pastebin is pretty much stable service and I chose expiration "never".

[2017-06-29 14:39] joaquimpedrooliveira commented on #313
@sixinli @diemol, could you please share how to correctly set these capabilities in `docker run` command?

[2017-06-29 16:23] ddavison commented on #313
@joaoluizjoaquim no specific command to run to fix this.. it's just using the correct version.  if you use latest, you're certainly covered.  [the commit](https://github.com/SeleniumHQ/docker-selenium/commit/30b3c9160aabe32c6932d1ec7d19497f7fd6ebdd#diff-79a170fb54c3005e51ce1510022006be) was introduced in 3.4.0-bismuth.   therefore,

versions >= 3.4.0-bismuth will work.

[2017-06-29 19:16] joaquimpedrooliveira commented on #313
I still get `"error": "insecure certificate",` using `3.4.0-bismuth`. Maybe I'm missing something else.

[2017-06-29 19:47] ddavison commented on #313
try the latest image (dysprosium)

[2017-06-29 20:07] joaquimpedrooliveira commented on #313
@ddavison , with the latest it seems to work. I've got another error message, but I think it's related to a geckodriver bug. After `driver.quit()` I get:
[code]
Thank you anyway :+1:

[2017-06-30 10:13] tholewebgods commented on #87
This seems to be a duplicate of #89 which apparently has a fix.

Though this seems to be related to docker I'd like to share my experience with a local Selenium 3.4.0 standalone server without docker.

The symptoms were the same: Selenium was stuck when creating a new session.

It turns out the issue is no longer happening using Chrome 59.

See my MCVE with minimal client code, setup descriptions

[2017-06-30 15:32] ezesculli opened #513 "Memory leak on selenium/standalone-chrome"
## Meta -
Image(s):
selenium/standalone-chrome

Docker-Selenium Image Version(s):
lastest

OS:
Linux (AWS EC2 Linux Image)

## Expected Behavior -
After running many test on different Chrome instances (> 2000), memory keeps stable on the Docker instance

## Actual Behavior -
After running many test on different Chrome instances (>2000), it seems there is a memory leak on the docker instance, becau

[2017-06-30 16:17] ddavison commented on #508
this should be fixed from https://github.com/SeleniumHQ/docker-selenium/releases/tag/3.4.0-einsteinium.

let's wait and see. we'll leave this issue open until validated.

[2017-06-30 16:37] ddavison commented on #513
out of curiosity, why are you keeping instances open for that long?  docker containers are meant to be cheap and short-lived :)

really not sure what we can do about this, as this is very hard to replicate.   I'm assuming that the underlying problem is not docker - but chrome itself.

[2017-06-30 17:23] ezesculli commented on #513
On our production environment, we're not restarting docker instances, should we do that?

What docker images do you recommend for high throughput on production environment?

We're running 3 or 4 instances of Chrome browsers at the same time on a 8GB docker instance. But after a few days, it shows the described behaviour (memory leaks)

[2017-06-30 17:57] ddavison commented on #513
well, the ideal setup would be to spin up a container whenever you're running a test.

Test Startup -> Node Startup -> Node running test -> Node report result -> Node shutdown.

If that is unattainable right now, the best way would be to just use something like `docker-compose` for a quick win.

Have docker-compose spin up `n` amount of nodes, then shut them down, and spin up `n` amount of nodes a

[2017-06-30 17:57] ddavison commented on #513
for high throughput, use the `selenium/hub` in conjunction with `selenium/node-chrome` and `selenium/node-firefox` and avoid the "debug" instances since those introduce superfluous programs like VNC

[2017-06-30 18:28] ddavison commented on #511
could we see the command you are using / script that you're using to run against that uri?

[2017-06-30 18:33] ddavison commented on #358
@Sovetnikov if you want, try your hand at a pull request and we'll review!

[2017-06-30 22:11] alxlu commented on #511
Sure! I'm running my tests with `webdriver.io`, and just navigating to it using
[code]

Also, the issue can be reproduced by using the config below, VNCing into them and then manually navigating to the URL.

`docker-compose.yml`
[code]
You can start any kind local web server on the host (e.g. `python -m SimpleHTTPServer` in any directory, then VNC into both the Firefox and Chrome containers and la

[2017-06-30 22:16] ddavison commented on #511
i'm not a javascript guy, but could it be the use of the grave?

in most languages,

[code]

have you tried with single/double quotes?

[2017-06-30 22:22] alxlu commented on #511
That's a template literal, but the issue isn't with JS.

Sorry if I was a little unclear&mdash;`8080` is from my project, but I figured it would be easier to reproduce the problem by spinning up the docker containers, and creating any kind of local web server and manually navigating to the address. The screenshots below from running `python -m SimpleHTTPServer` which defaults to `8000`.

[2017-06-30 22:31] ddavison commented on #511
hrm.. ah no problem :)  just trying to eliminate the obvious!

I'm under the assumption based on your issue, you meant

if this is the case, then i cannot imagine what's going wrong here.  i'll be flying home tomorrow, so probably won't be able to get back to this issue in a while; hopefully @diemol can chime in here.

[2017-06-30 22:34] alxlu commented on #511
Oh, I meant Chrome **can't** navigate there even if you VNC in there manually. However, Firefox **can**. Also, other tools within the Chrome container are able to such as `wget`
![screen shot 2017-06-30 at 3 31 30 pm](https://user-images.githubusercontent.com/3271834/27756070-36a1a2cc-5da9-11e7-9621-9f0f35dcfb1c.png)

[2017-07-01 10:54] diemol commented on #508
Yeah, I checked and the tag is well placed in all the images. Thanks!

[2017-07-01 10:54] #508 closed

[2017-07-01 13:53] dwkerwin commented on #135
For me, running a container with selenium/firefox worked fine on my Ubuntu laptop (average 8 seconds per request), but after putting into AWS ECS and putting several containers on the same host, it would work slower for any single request, but if all containers on that host were active at the same time it would come to a screeching halt (minutes/never).  After mounting /dev/shm, there was a big im

[2017-07-03 08:28] psiedlinski commented on #510
Just a comment - I am facing similar issue using java (I bet this is a browser issue). Simple code like `driver.getElement(...).click()` causes the browser to crash. (selenium hub - chrome node on aws ec2 instance).
It works perfectly fine on my local and on firefox.

[2017-07-03 15:31] lluisteamcmp commented on #488
Reported in ChromeDriver: https://bugs.chromium.org/p/chromedriver/issues/detail?id=1833

[2017-07-03 19:29] t-node commented on #135
I am running the tests inside docker-container with chrome. If i use up to 2 threads, the tests are running fine. However, when i go 3 or above 3 thread, my chrome browsers taking forever to wait for requests to complete. Is there anything i need to work around with my yml while configuring the containers.

Following is my docker-compose yml file:
version: "3"
services:
  selenium-hub:
    image:

[2017-07-04 10:47] vijayrcse opened #514 "How to install vncviewer in ec2 instance"
## Meta -
Image(s):

Docker-Selenium Image Version(s):

OS:

## Expected Behavior -
I would like to install vncviewer in my ec2 instance where my docker nodes are running
I am trying to run the ./bin/vnviewer command. After resolving many dependency issues I am getting the below error message. Please advise
https://www.realvnc.com/docs/6.1/foss.html
<11> 2017-07-04T10:39:09.092Z ip-1X-XX-X-XX vncv

[2017-07-04 19:23] diemol commented on #514
Hi @vijayrcse,

Are you exposing your Selenium Grid publicly on AWS? I guess you need to double check your networking rules and everything related to the exposed ports...

But more importantly, if you are exposing the Grid, it wouldn't be a good idea, check these two issues:
https://github.com/SeleniumHQ/selenium/issues/2076 and #147

[2017-07-05 02:20] vijayrcse commented on #514
No , its not aabout Selenium grid publicy on AWS. I have my hub and node docker container running in ec2 instance( Amazon llinux). I have trying to use the vncviewer command from ./bin/vnvviewer.
I downloaded the vnc viewer binary from realvnc and placed in path

But when i start the vncviwer from my amazon linux ec2 instance , connectting to the port where vnc server is exposed by node image, it

[2017-07-05 07:11] Geekays opened #515 "How may I run Selenium/hub on windowsservercore"
## Meta - Windowsservercore Docker-on-windows
Image(s):  selenium/hub

Docker-Selenium Image Version(s):  latest/any

OS:  windowsservercore (https://hub.docker.com/r/microsoft/windowsservercore/) or nanoserver (https://hub.docker.com/r/microsoft/nanoserver/)

## Expected Behavior - Use selenium/hub as part of a compose that runs images on top of Windows 2016 (windowsservercore or nanoserver)

##

[2017-07-06 19:05] tparikka commented on #515
As you've noticed, our images right now all use Linux base images. They are cleaner, smaller images than you would get than the equivalent windowsservercore or nanoserver images and the toolchain for building our images is geared toward Linux as well. Is there a particular use case you have for using Windows images instead of Linux?

[2017-07-06 19:37] jmbowman commented on #308
I'm hitting something similar; it seems that when the browser window is launched, the OS doesn't consider it to have focus.  If I connect via VNC and click on the window before the focus-related tests run, they all pass; otherwise, they fail.  I'm looking into workarounds like the ones described [here](https://stackoverflow.com/questions/10649637/make-sure-that-browser-opened-by-webdriver-is-alway

[2017-07-06 20:57] smccarthy commented on #515
You can't. There are no GUI applications inside of windows containers yet.

[2017-07-07 04:23] Geekays commented on #515
@tparikka the use cases that taking me for windowsservercore are:
1. This is .NET development
2. The test scripts are also developed in c# and Selenium
3. Other tools in the combination are on windowsservercore
4. We need to have the test run on IE as well.

I know we can have a combination of Linux and Windows and Docker and VMs (Non-Docker). But that seems to be little messy.

[2017-07-07 08:26] vijayrcse commented on #514
I am closing this thread. I have used vnc from windows and connected

[2017-07-07 08:26] #514 closed

[2017-07-07 08:32] vijayrcse opened #516 "Using docker selenium node image in AWS ECS - how to pass the node port for hub registration"
## Meta -
Image(s):

Docker-Selenium Image Version(s):

OS:

## Expected Behavior -
Below is my TaskDefinition in my ecs yaml

Type: AWS::ECS::TaskDefinition
    Properties:
      Family: !Sub ${AWS::StackName}-node-server
      ContainerDefinitions:
        - Name: node-server
          Image: !Sub ${AWS::AccountId}.dkr.ecr.${AWS::Region}.amazonaws.com/${RepositoryName}:${Tag}
          Essential

[2017-07-07 18:42] tparikka commented on #515
@Geekays: As @smccarthy pointed out there are no GUI apps in the Windows containers and looking at microsoft/virtualization-documentation#214 it looks like there might be no plans by Microsoft to do this in the near future, so running IE docker images just isn't in the cards right now. That said, the OS of your Selenium containers really shouldn't matter (beyond the currently nonexistent container

[2017-07-07 19:54] jalexvig commented on #429
Using this dockerfile, here is a compiled chromedriver for linux.

https://github.com/jalexvig/build_chromium_docker

[2017-07-08 02:45] bbuchalter commented on #429
Does anyone have something like this that's built on jessie instead of ubuntu? I'm having trouble porting this one. Alternatively, could I just use the binary in that repo safely on a different container?

[2017-07-08 06:43] Shyam-Chen commented on #429
[code]

[2017-07-09 14:44] diemol commented on #511
Sorry to jump in so late. I ran into the same issue recently, and I am asking about it here https://github.com/moby/moby/issues/22753

I am assuming that it is entirely an issue related to Chrome. But we need to check if we need to adjust something in the config for Chrome, somehow I guess it is not getting this DNS entry.

[2017-07-09 17:13] diemol commented on #511
Hi @alxlu,
After Googling for a while and checking different links, this issue explains it briefly: https://github.com/docker/for-mac/issues/1837

So, it is an issue between docker and Chrome, since Chrome is not going to resolve the hostname.

As a workaround, I suggest to use the IP `192.168.65.1` instead of the `docker.for.mac.localhost`.  Also to follow up on the issue to see how it ends up.

[2017-07-09 17:13] #511 closed

[2017-07-09 17:26] diemol commented on #139
I'll close this issue since we didn't get feedback from the OP. Feel free to reopen when more accurate info is provided.

[2017-07-09 17:26] #139 closed

[2017-07-09 17:27] diemol commented on #137
I'll close this issue since we didn't get feedback from the OP. Feel free to reopen when more accurate info is provided.

[2017-07-09 17:27] #137 closed

[2017-07-09 17:28] diemol commented on #111
I'll close this issue since we didn't get feedback from the OP. Feel free to reopen when more accurate info is provided.

[2017-07-09 17:28] #111 closed

[2017-07-09 17:37] diemol commented on #183
Hi @fzakaria,

Could you please explain a bit more? What are you trying to achieve?

[2017-07-09 17:37] diemol commented on #203
I'll close this issue since we didn't get feedback from the OP. Feel free to reopen when more accurate info is provided.

[2017-07-09 17:37] #203 closed

[2017-07-09 17:45] diemol commented on #405
I'll close this issue since we didn't get feedback from the OP. Feel free to reopen when more accurate info is provided.

[2017-07-09 17:45] #405 closed

[2017-07-09 17:47] diemol commented on #448
I'll close this issue since we didn't get feedback from the OP. Feel free to reopen when more accurate info is provided.

[2017-07-09 17:47] #448 closed

[2017-07-09 17:53] diemol commented on #505
I'll close this issue since it was just a question which was answered.

[2017-07-09 17:53] #505 closed

[2017-07-10 14:56] Krzysiaczek-at-theFoundry commented on #313
I've got exactly the same problem with the recent version which was released 10 days ago. I will try dysprosium.

[2017-07-10 14:58] vijayrcse opened #517 "Health check URL for the Node"
## Meta -
Image(s):

Docker-Selenium Image Version(s):

OS:

## Expected Behavior -
Hi ,
Can anyone please let me know what would be the health check URL for a Node server( assuming i am running a node-firefox-debug )

## Actual Behavior -

[2017-07-10 15:11] Krzysiaczek-at-theFoundry commented on #313
I've just tried earlier version:
REPOSITORY                                        TAG                          CREATED              SIZE
selenium/standalone-firefox-debug   3.4.0-dysprosium   4 weeks ago         685MB

Results from the Behat:
Build info: version: '3.4.0', revision: 'unknown', time: 'unknown'
      System info: host: '84aaa2dfcb3c', ip: '172.18.0.5', os.name: 'Linux', os.arch: 'am

[2017-07-10 15:14] diemol commented on #517
Hi,

I'll answer it without knowing the context or what you want to achieve.

In general you can use something like: http://HOST:PORT/wd/hub/status

For nodes and standalone you get a JSON with a field that says something like: `status=success`. For the grid it says something like `status=13`, when it is working fine.

You just need to parse that response to check if the node is up.

Since this is

[2017-07-10 15:14] ddavison commented on #517
see https://github.com/SeleniumHQ/docker-selenium/issues/332#issuecomment-259264846

[2017-07-10 15:14] #517 closed

[2017-07-10 16:10] fzakaria commented on #183
Very old question.
Anyways closing.

[2017-07-10 16:10] #183 closed

[2017-07-10 19:07] jmbowman commented on #308
I did find a workaround for this: enabling the "focusmanager.testmode" Firefox preference.  This had been made the default when launched from Selenium FirefoxDriver around Firefox 42 or so, but it is apparently no longer enabled by default when launching newer Firefox versions via geckodriver.  I'm not sure if enabling it by default in the image is a good idea or not, but it probably at least meri

[2017-07-10 20:56] fiedl commented on #429
As [mentioned in the bug report](https://bugs.chromium.org/p/chromedriver/issues/detail?id=1772#c44), @davidthornton has compiled a binary of chromedriver-2.31, which includes the fix.

https://github.com/davidthornton/chromedriver-2.31

I've successfully used this by adding this oneliner to my ci install script:

`mkdir -p ~/chromedriver && wget https://github.com/davidthornton/chromedriver-2.31/

[2017-07-11 10:18] vijayrcse commented on #517
this http://HOST:PORT/wd/hub/status works for the hub, but not for the node image. could you please suggest if it is same URL for node as well

Basically i trying to configure a health check path for my node image running in AWS ECS

[2017-07-11 11:06] Krzysiaczek-at-theFoundry opened #518 "How to allow to accept insecure certificates from the config?"
## Meta -
Image(s):  selenium/standalone-firefox-debug
Docker-Selenium Image Version(s):  latest, 3.4.0-dysprosium
OS: OSX Sierra
## Expected Behavior
According to closed ticket #313 there should be no more issue with Insecure Connection when accessing HTTPS with self-signed certificate
## Actual Behavior
Any attempt to connect the site ends up with the warning:

I was using another docker image f

[2017-07-11 13:01] lmtierney commented on #518
`acceptInsecureCerts` is a capability that needs to be passed upon driver instantiation, you would need to do this somehow through Behat. You will need to check with the Behat people on how to do this as it is not officially supported by Selenium

[2017-07-11 13:01] #518 closed

[2017-07-11 13:15] Krzysiaczek-at-theFoundry commented on #518
Thanks for the answer, but wouldn't it be possible to add it during compilation process? into a Docker file to build the image on my own?

I was hoping such option is possible but hidden somewhere similar to this:
PHANTOMJS_OPTS="--ignore-ssl-errors=true"

[2017-07-11 14:00] lmtierney commented on #518
Afaik, the only way to build it into the container would be to set that setting within the default Firefox profile itself which I wouldn't know how to go about doing.. @diemol ?

[2017-07-11 17:08] ddavison commented on #517
if you noticed the subsequent comments i linked, it was grep for chrome/firefox - that's how you can check for node presence

[2017-07-11 17:19] lareeth commented on #516
You will need to connect this task to an Application Load Balancer that forwards the randomised host port back to a fixed port. You can then replace the server without needing to update your application when the container gets a new random IP assigned.

[2017-07-12 13:20] devent opened #519 "Selenium fails on OpenShift"
## Meta -
Image(s):
selenium/hub:3.4.0

## Expected Behavior -

Selenium Hub started.

## Actual Behavior -

[code]

Why do you run `RUN sudo /opt/bin/generate_config > /opt/selenium/config.json` in the Dockerfile?

Just a simple `RUN /opt/bin/generate_config > /opt/selenium/config.json` should be sufficient, or it can be left out altogether because of the same call in `entry_point.sh`.

The Docke

[2017-07-12 13:25] ddavison commented on #519
could this have already been fixed by https://github.com/SeleniumHQ/docker-selenium/commit/45304b7867098725c5e68b362ad126c21a89ef20 _

[2017-07-12 13:26] diemol commented on #519
I think he means this one https://github.com/SeleniumHQ/docker-selenium/blob/master/Hub/Dockerfile.txt

[2017-07-12 13:27] ddavison commented on #519
ah yes.  that shouldnt be there.  @devent would you like to contribute and try your hand at a pr?  if not, we'll take care of that sudo call, to.

[2017-07-12 13:29] devent commented on #519
@ddavison
But now there is no possibility to use environment variables to change the configuration with https://github.com/SeleniumHQ/docker-selenium/commit/45304b7867098725c5e68b362ad126c21a89ef20  I have create an OpenShift template configuration where the user can set environment variables that are then used to create the configuration by the docker `entry_point.sh`.

[2017-07-12 13:31] ddavison commented on #519
are you perhaps using my https://github.com/ddavison/selenium-openshift-templates?   if so, those should work just fine 🤐

[2017-07-12 13:37] devent commented on #519
@ddavison
Yes, I was using them, but changed them to use a DeploymentConfig. With what version did you tested? Our cloud is restricted, it doesn't allow contains run as root. But since the container is run as user `seluser` it should be fine. But it fails with Permission Denied of course because the config file is created by root.
https://github.com/SeleniumHQ/docker-selenium/blob/master/Hub/Docke

[2017-07-12 13:41] ddavison commented on #519
those images are actually pretty old, and for OpenShift enterprise, however sans a couple new environment variables we're able to pass, they should still be fine to use.

yea several issues like this have been rectified, but i see more to come.

Did you want to try your hand at a Pull Request to fix this? or would you like us to take care of it @devent ?

[2017-07-12 13:47] devent commented on #519
I can fix that in a fork and offer a pull request. I need to deploy Selenium anyway.

[2017-07-13 16:26] bzon commented on #519
The workaround for this is to create a serviceaccount named `seluser` .

And then `oadm policy add-scc-to-user anyuid -z seluser`  while inside the namespace ..

[2017-07-15 09:23] grafa commented on #510
Later this week I will try to rewrite my code to terminate and re-setup browser after each URL. I will report the result.

BTW: any updates?

[2017-07-16 11:03] kootenpv opened #520 "Headless chrome is not working in the docker"
Image:

    $ docker images
    REPOSITORY                                      TAG                 IMAGE ID            CREATED             SIZE
    selenium/standalone-chrome                      latest              1dec27211cb6        2 weeks ago         835MB

Container:

    853711d44c1e        selenium/standalone-chrome   "/opt/bin/entry_po..."   18 minutes ago      Up 18
    minutes

[2017-07-16 11:13] namgivu opened #521 "Selenium python test against selenium grid created from SeleniumHQ docker images"
Today I failed to run tests against selenium grid i.e. the sub+node containers - though I can run the same test with the standalone one

My demo test can view here
- start the selenium grid
  https://github.com/namgivu/selenium-docker-sandbox/blob/master/s01a_start_selenium_grid.sh
- my simple tests
  https://github.com/namgivu/selenium-docker-sandbox/blob/master/s02a1_tiny_test.py

Would be lovel

[2017-07-17 04:10] lmtierney commented on #521
I'm guessing you're running into seleniumhq/selenium#3808. For python you can downgrade to `3.3.1` until the fix for that is released.

[2017-07-17 04:10] #521 closed

[2017-07-17 07:34] namgivu commented on #521
Confirmed that my test works now after installing python selenium 3.3.1

[code]

[2017-07-17 11:45] kootenpv commented on #520
Another attempt:

[code]

[2017-07-17 12:05] Remi-p commented on #519
Hi,
I don't know if this information is important, but :
Using OpenShift I had the same issue, with versions :
**selenium/hub:3.4.0-dysprosium**
[code]

**selenium/hub:3.4.0-einsteinium**
[code]

So I rolled back to **selenium/hub:3.4.0-chromium**, which works with my OpenShift instance.

[2017-07-17 12:28] fluentwait commented on #518
Hi,
I'm also having similar issue, even though I have set capability to ignore errors but still its does not work with 'docker-compose' setup. But if I starts individual containers with 'docker' command then it's work perfectly.

Docker Compose File
version: "3"
services:
  selenium-hub:
    image: selenium/hub:3.4.0-einsteinium
    ports:
      - "4444:4444"
  chrome:
    image: selenium/node-chr

[2017-07-17 13:15] Krzysiaczek-at-theFoundry commented on #518
For me, it was OK to switch to chrome. All certificate issues are being ignored now

[code]

I thought at first that maybe it was made due to ineffective changes in Behat
[code]
but it seems that it doesn't make any difference as Chrome ignores certificates even when this line is commented out in Behat settings.

Other than this I also had to add some wait steps in Behat tests when the page is cha

[2017-07-18 23:51] qiuyuhome commented on #521
OK，thanks

发自我的 iPhone

[2017-07-19 11:41] vijayrcse commented on #516
I was able to pass the port by connecting to application loadbalancer and its listerner port. thx for clarification

[2017-07-19 11:41] #516 closed

[2017-07-19 11:47] vijayrcse opened #523 "Using docker selenium images for various browser testing( combination of versions and OS )"
## Meta -
Image(s):

Docker-Selenium Image Version(s):

OS:

## Expected Behavior -

HI

I have a requirement where i need to do web automation testing with various browser combination. Some example combination are below

Chrome , Windows 7/XP, version1(not giving exact version for simplification)
Chrome , Windows 7/XP, version2
Firefox, Windows 7/XP, version1
Firefox, Windows 7/XP, version2
IE, W

[2017-07-19 16:54] peterstory opened #524 "VNC Password is Undefined"
## Meta -
Image(s):
selenium/node-firefox-debug:3.4.0-einsteinium

## Expected Behavior -

VNC Should be accessible at port 5900.

## Actual Behavior -

VNC isn't started properly: I cannot connect until I start it myself.

It appears that the password isn't set properly in `entry_point.sh`.

[code]

If I run this command manually, I get the following output:
[code]
Which seems to indicate that a

[2017-07-19 17:54] ddavison commented on #524
the password is set here: https://github.com/SeleniumHQ/docker-selenium/blob/master/NodeFirefoxDebug/Dockerfile#L59

[2017-07-19 18:58] peterstory commented on #524
Hmm, it must be that that file isn't accessible or being used in my containers. I added a couple extra steps before using the `entry_point.sh`. Assuming nobody using the stock image is encountering this same problem, my changes must have caused the problem.

`firefox.Dockerfile`
[code]

`start_firefox.sh`
[code]

[2017-07-20 18:09] ddavison commented on #523
the simplest answer, however not easiest.. would be to have dedicated nodes and not use docker at all.

you could still use docker to control your hub, and linux firefox/chrome nodes, but you'd have to have dedicated nodes running your desired operating systems, and you can just connect to the same hub run by docker.

[2017-07-20 18:19] ddavison commented on #519
@devent , i think a few people are waiting on this change.   i offer you this warning, only for the sake of you being able to contribute to selenium.  if you are going to fix this, please create a pull request by friday.  if not, then i'll go ahead and put it in.  i'm going to push a new release tomorrow, so if it's not in by then, i'll do it 😜

[2017-07-20 23:35] herrold commented on #388
Completely reproduceable -- browsing through an SSL Forwarding, even to localhost, expresses teh bug:  This appeared in 52, with the E10 co-process addition

[Parent 3760] WARNING: pipe error (88): Connection reset by peer: file /builddir/build/BUILD/firefox-52.2.0/firefox-52.2.0esr/ipc/chromium/src/chrome/common/ipc_channel_posix.cc, line 322

###!!! [Parent][MessageChannel] Error: (msgtype=0x2C0

[2017-07-21 08:37] metareven commented on #515
@tparikka There are differences between the browsers on different OSes so you might want to run your tests on the OS your customers users are most likely to use (which in most cases is windows/android/iOS). Also the webdriver for Edge only supports one instance at a time, so being able to dockerize Edge nodes would be really nice. I've also had some problems running multiple firefox instances on t

[2017-07-21 08:56] vijayrcse commented on #523
Thanks ddavison. When you say dedicated node I believe you are referring to dedicated VM's with required windows OS and browsers installed.

This means docker selenium can still be re-used for HUB and nodes with firefox, chrome (Ubuntu/linux OS combination )

Thanks for your response

[2017-07-21 12:18] devent commented on #519
@ddavison You can go ahead and close it. I needed a lot of changes to the Image and I don't think it will be of benefit to you. Thank you for your support.

[2017-07-21 12:18] #519 closed

[2017-07-21 21:24] grafa commented on #510
Hey guys,

I've tried to quit browser instance after each URL and it seem like it's working - no more terminations. I guess it was memory issue but who knows. So `browser.quit()` after you are done does the thick.

[2017-07-21 23:06] ddavison commented on #523
exactly right.  have your own nodes with your required OS's and browsers installed, then have those nodes connect right to the hub that you have hosted with docker.

[2017-07-21 23:06] #523 closed

[2017-07-24 10:02] boonyasukd commented on #429
`homebrew` just got updated to include `chromedriver` 2.31 around 17 minutes ago. Apparently the builds had been completed for a few days now, but chromedriver site doesn't get updated yet.

Grab the binary [here](https://chromedriver.storage.googleapis.com/index.html?path=2.31/).

[2017-07-24 23:01] navels commented on #524
I'm running into this issues as well with the latest release.  Not sure how this was ever working, because the x11vnc docs say you are supposed to specify the path to the password file:
[code]

[2017-07-24 23:46] navels commented on #524
Wondering if this changed with https://github.com/SeleniumHQ/docker-selenium/pull/477

[2017-07-25 08:35] UsainBloot commented on #429
For anyone using vvo/selenium-standalone I have a PR that defaults to the new version of chromedriver.

https://github.com/vvo/selenium-standalone/pull/290

[2017-07-25 16:52] navels commented on #524
Sorted out our issue.  We had "USER root" in a Dockerfile and needed to set it back to seluser at the end of the file so that entry_point.sh executes as seluser.

[2017-07-25 17:10] peterstory commented on #524
Interesting. I was using `su - seluser` in a script to get back to the seluser account, and things still weren't working. So there must be some difference in behavior between `su - seluser` and a Dockerfile's `USER seluser`.

[2017-07-26 07:54] joelchrist commented on #329
Any update on this? Would really like to know which files are growing so big.

[2017-07-26 16:35] guillaumevincent commented on #429
`npm install chromedriver` install `chromedriver` version `2.31` and download the good version for your system

[code]

Thank you guys

[2017-07-26 17:18] m2bright commented on #87
All,
  I may have some further insight into this behavior. I found that, when we were automating selenium to verify a google-login page, after the redirection occurred, we did a driver.get(...) to the page it was redirected to. This caused the driver to throw a TimeOutException waiting for a get to occur, when in reality, it never performed the get.  So moral of the story? Don't do that!

[2017-07-26 20:18] bdshibly opened #527 "selenium docker containers are slow on Kubernetes"
We deployed selenium hub and chrome debug container in kubernetes cluster. We are using m4.xlarge for kubernetes nodes. Only selenium containers have been deployed on the cluster. But it is performing slowly. Here are out deployment scripts

Selenium Hub:

[code]
Selenium chrome grid

[code]

Any help will be appreciated.

Cheers
Ferdous Shibly

[2017-07-27 16:16] mar1ged commented on #527
I have a similar setup on OpenShift and had to increase the nodes to 4 Gigabyte RAM

[2017-07-27 17:01] bdshibly commented on #527
Thanks @mar1ged. We have configured kubernetes nodes on m4.large. So it has 8 GB RAM. Did you allocate 4 GB RAM per selenium chrome node container?

[2017-07-31 02:43] anyone-can-test commented on #520
I have the same issue.
I use selenium/node-chrome:3.4.0-einsteinium

[code]

[code]

[2017-07-31 13:30] gsureshbabu commented on #520
Yes, I observed similar issue in node chrome image. Driver initialization got failed.

[2017-07-31 13:30] rdbaron commented on #396
I am seeing the same behaviour.  Furthermore, as of Chrome v60, `driver.manage().window().maximize()` throws a Webdriver error.

[2017-07-31 14:52] ajoy39 commented on #520
Same here, can connect to the selenium service fine but Chrome fails to start.

[code]

[2017-08-01 18:10] mar1ged commented on #527
@bdshibly yes, one Selenium Node for each pod and that one has 4 gig ram

[2017-08-02 12:34] damian-sikora-droptica opened #528 "org.openqa.selenium.WebDriverException: unknown error: session deleted because of page crash"
## Meta -
Image(s): selenium/standalone-chrome
Docker-Selenium Image Version(s):  3.4.0

## Actual Behavior -
The problem is that after form submit, when on the target page some large image is present (eg uploaded on the submitted form) the test is throwing exception as below. Large image I mean image like 3500x2500 or above - file size doesn't matter, just big resolution causes this. When there i

[2017-08-02 15:38] ddavison commented on #527
@bdshibly this problem is certainly erring on configuration.  even if this issue brings up a legitimate bug, we won't do a legacy release so i'd recommend updating from 2.53.1.  it's been a long time since 2.53 and you shouldn't have to modify your tests much to accommodate for Selenium 3.

[2017-08-02 16:07] bdshibly commented on #527
Thanks @ddavison. I deployed selenium 3.4.0 but still having problem with proxy test. We configured browsermob proxy and selenium chrome containers taking long time initializing proxy test and often getting timeout. We configured selenium (both hub and chrome nodes) on EC2 on the same subnets with same EC2 type and security group and perform the same test which was fast.

[2017-08-03 11:05] cbrevik commented on #520
Experiencing the same error. Built a new Docker image based on https://github.com/SeleniumHQ/docker-selenium/commit/35b50401579542815a1394b90da5c3a482fe92a2 and I get:

Using `RemoteWebDriver` in C#.

[2017-08-03 11:34] cbrevik commented on #520
Ran `top` on the node/container. It doesn't look like `chromedriver-2` nor `chrome` is actually failing to start. Might be a communication error between the two when `--headless` is enabled?

Chrome goes idle really quickly in resource usage after starting though.

[2017-08-03 16:33] stguitar commented on #429
I was also having this issue and can confirm simply updating chromedriver to 2.31 removed the need to use Xvfb

[2017-08-03 21:33] adamlacoste commented on #528
I have been seeing a similar problem since converting from a Selenium Grid I set up to Selenium's Docker images.  Lots of test failures due to crashes, which I wasn't getting before.  I've followed instructions I found elsewhere to manipulate /dev/shm (both mounting the host's /dev/shm as a volume, and setting the shm_size param at runtime), but this didn't seem to have any effect.

[2017-08-04 08:07] cbrevik commented on #429
Is people getting `--headless` to work with this library? Keep getting `unknown error: Chrome failed to start: exited normally` as noted in #520

[2017-08-04 09:59] guillaumevincent commented on #429
@cbrevik don't know if it's the solution but on centos 7 docker I added `liberation-mono-fonts` package to avoid this error

[2017-08-04 10:58] cbrevik commented on #429
Thanks for the suggestion @guillaumevincent! Ran `fc-list` on the container, and it seems like  `Liberation Mono` is already installed.

[2017-08-07 12:18] DmytroPazykov commented on #528
I got similar problem. The same error but it appears when I try to execute Javascript.

org.openqa.selenium.ScriptTimeoutException: asynchronous script timeout: result was not received in 120 seconds

(Session info: chrome=60.0.3112.78)
(Driver info: chromedriver=2.31.488763 (),platform=Linux 4.4.51-40.58.amzn1.x86_64 x86_64) (WARNING: The server did not provide any stacktrace information)

Comman

[2017-08-09 15:02] stsvilik opened #533 "entry_point.sh is missing from StandaloneChromeDebug"
## Meta -
Image(s): standalone-chrome-debug

Docker-Selenium Image Version(s):

OS: All

## Expected Behavior -
StandaloneChromeDebug should build locally
## Actual Behavior -
Build fails due to missing entry_point.sh file

[2017-08-09 16:18] stsvilik commented on #533
I tried to build only StandaloneChromeDebug manually from within a folder. Using ```make build``` works fine without this file.

[2017-08-09 16:18] #533 closed

[2017-08-09 16:19] ddavison commented on #533
glad you figured it out :+1:

[2017-08-09 18:31] heisenbugger opened #534 "Chrome failed to start and exited abnormally."
## Meta -
Image(s):  standalone-chrome

Docker-Selenium Image Version(s):  3.4.0

OS: CoreOS -> Debian Image

## Expected Behavior -
 Not crashing =)

## Actual Behavior -
 Crashing all the time :/

I deployed selenium standalone chrome on Kubernetes running Docker. Only selenium containers have been deployed on this cluster. The problem is: when we (devops and dev team) deployed our spider and le

[2017-08-10 05:21] gael-wogenstahl commented on #405
Hello,

Sorry I've been busy on other matters and couldn't try again what you asked.

I'm upgrading Selenium to 3.4.0 and tried to run the new docker images and got stuck in the same kind of problem.

Image(s): selenium/hub:3.4.0-einsteinium
Docker Version: 17.05.0-ce
OS: Ubuntu 14.04

I tried to start the hub following the documentation with that result :
[code]

[2017-08-10 05:36] gael-wogenstahl opened #535 "User permissions error inside container while starting hub docker image"
## Meta -
Image(s): `hub`
Docker-Selenium Image Version(s): `3.4.0-einsteinium`
OS: `Ubuntu Desktop 14.04`

## Expected Behavior -
Running the `hub` docker image as explained in the documentation should result in a container running.

## Actual Behavior -
Trying to run the `hub` docker image results in container exiting right away with the following error :
[code]

This issue looks a lot like #405

[2017-08-10 09:25] ttretau commented on #429
I updated image to Chromedriver 2.31 and received errors like @cbrevik, `WebDriverError: unknown error: Chrome failed to start: exited abnormally`. I think from chromedriver logs `RESPONSE InitSession unknown error: Chrome failed to start: exited abnormally`.
I used args `'--headless', '--disable-gpu', '--window-size=800,600'` via protractor.

[2017-08-10 22:42] saulshanabrook opened #536 "Build Firefox Developer Edition"
First off, thanks for all of your work on these images. They have helped us immensely for our testing in CI.

I am trying to test web extension through Protractor and Selenium using these images. Firefox won't run the addon, because it is a folder and unsigned. In [order to run an unsigned extension in Firefox, you can't use the main Firefox release, but can use the developer edition with a custom

[2017-08-11 06:02] ddavison commented on #536
if we are able to duplicate the same functionality that the [chrome containers use](https://github.com/SeleniumHQ/docker-selenium/blob/master/NodeChrome/Dockerfile.txt#L18) then this would definitely be doable.

might also be related to #470

[2017-08-11 10:44] motou commented on #534
Have you tried with the latest version? It looks like that the chrome driver version installed is out of date.

[2017-08-11 14:45] heisenbugger commented on #534
Yes! I tried the latest version and I'm still getting this error.

[2017-08-11 15:33] tnguyen14 opened #537 "Chrome does not respect http proxy environment variables"
## Meta -
Image(s):
node-chrome, node-chrome-debug
Docker-Selenium Image Version(s):
3.4
OS:
RHEL7.3

Chrome does not respect `http_proxy`, `https_proxy` and `no_proxy` environment variables that are set on the docker image. If these properties are passed to webdriver settings, chrome does respect them however.

I first asked about this in #478.

[2017-08-11 19:39] dmitrym0 commented on #198
For whatever it's worth, if you run tests as root (I know, I know) Chromium will block with an error asking for `--no-sandbox` parameter to be passed. Because Chromium is blocking, Chromedriver times out and you get the error above.

I solved it with:

[code]

[2017-08-14 16:51] luispabon commented on #535
Same here:

[code]

The weird thing is that it starts fine on my desktop running Ubuntu 17.04 but not on a centos machine.

Obviously that json is invalid.

[2017-08-14 16:55] luispabon commented on #535
See this gist https://gist.github.com/luispabon/89aeed53deb87a96c22becf6997188c0

[2017-08-14 20:26] saulshanabrook commented on #536
In the meantime, I [am building](https://gitlab.com/passit/docker-selenium/) Firefox Developer Edition standalone with debug for my own use.

Haven't figured out yet how to get predictable extension URLs (https://github.com/mozilla/web-ext/issues/1043), but loading an extension folder is working, using Protractor:

[code]

[2017-08-15 13:05] Svitsky commented on #528
Map /dev/shm to docker image.
I had such an issue with page crash and it was solved by this.

[2017-08-15 14:02] adamlacoste commented on #528
@Svitsky I have tried this, it didn't fix the problem for me.

[2017-08-15 17:48] bitliner commented on #500
@diemol has the fix been already included in the last versions of docker-selenium? in case, which versions?

[2017-08-15 21:24] gael-wogenstahl commented on #535
I managed to fix the problem by deactivating user namespace in Docker (`"userns-remap"` in `/etc/docker/daemon.json`).
I don't need that functionality on my desktop computer right now but I might need it on the server.
All in all this points to a user permission problem on files located in `/opt/selenium` directory as stated in #405 .

[2017-08-16 19:59] saulshanabrook commented on #536
I have given up on using Firefox Developer Edition in Selenium to run extensions because I cannot figure out how to get the URL for the extensions once they are loaded. My other idea was to create a keyboard shortcut to launch the extension popup, then target that, but it seems webdriver isn't mean to support switching to these not-quite-pages.

If anyone else is trying to do this, the next thing

[2017-08-16 19:59] #536 closed

[2017-08-17 13:25] Nighthawk22 commented on #429
I get the following exception if i run chrome headless

[code]

[2017-08-18 10:16] driverpt opened #539 "Force DockerHub automated build to update chrome version"
As title says.

We want to run node-chrome with latest Chrome Version and that isn't happening because the Docker Image Automated Build isn't run for the last 2 months, causing Chrome to be stuck on 58.0.3029.81 .

If there was some kind of way to build these images daily, it would be nice as it would always have browser latest versions.

[2017-08-18 13:25] McSnowflake commented on #481
Hi there,
are there any updates available on the remoteHost topic?

I will try to rephrase the problem:

SE_OPTS is not an adequat substitute for the REMOTE_HOST because:

- SE_OPTS overwrites the node port settings. Whereas

- REMOTE_HOST allowed different internal and external ports. (ie selenium starts on 5555; portmapping that to 34567; node tells hub to use the latter)

Greetings

[2017-08-18 13:33] McSnowflake commented on #51
@yatheeshAtzenq This is happaning because the SE_OPTS option does not exectly the same as the good old REMOTE_HOST option. Instead it overwrites the nodes port and ip setting.
So while your port mapping thinks the node uses 5556, the node uses 5558. And that's why the hub can't reach it.

[2017-08-18 13:44] McSnowflake commented on #432
@diemol @tparikka
This is exactly what the REMOTE_HOST param has been for. It told the node to tell the hub a specific url to connect to without touching the nodes actual configuration and this way allowing portmapping to be part of the setup.

[2017-08-18 14:06] braindonor commented on #481
I managed to get my grid working.   Here's the startup commands from my startup script:

docker run -d -e GRID_TIMEOUT=250000 -e GRID_UNREGISTER_IF_STILL_DOWN_AFTER=250000 -P -p $HUB_PORT:$HUB_PORT --name selenium-hub selenium-hub

docker run -d -e REMOTE_HOST=http://$(hostname -s):555${COUNT} -e HUB_PORT_4444_TCP_ADDR=${HUB_HOST} -e HUB_PORT_4444_TCP_PORT=${HUB_PORT} -P -p 555${COUNT}:5555 --dns=

[2017-08-18 14:18] McSnowflake commented on #481
@braindonor Are you using docker version > 3?

Because I thought REMOTE_HOST param has been removed?

[2017-08-18 14:36] McSnowflake commented on #481
Selenium bug report created:  #4501

[2017-08-18 14:40] braindonor commented on #481
I'm using Docker 1.11.2 & Selenium 3.4.0

[2017-08-18 15:07] McSnowflake commented on #481
When I passed REMOTE_HOST into the container, I can't find it afterwards:

In entry_point.sh I do: export REMOTE_HOST="http://$NODE_HOST_IP:$EXT_NODE_PORT"
Inside the containers shell via `env`, I can't find that environment variable, which propably means that it get's cleared...

[2017-08-18 16:04] braindonor commented on #481
apologies.  your'e correct, I posted the old script.   Here's the V3 script:

docker run -d -e GRID_MAX_SESSION=1 -e GRID_TIMEOUT=250000 -e GRID_UNREGISTER_IF_STILL_DOWN_AFTER=250000 -P -p $HUB_PORT:$HUB_PORT --name selenium-hub serverxxx:5000/selenium-hub:3.4.0

docker run -d -e "SE_OPTS=-host $(hostname -s) -port 555${COUNT}" -e HUB_PORT_4444_TCP_ADDR=$HUB_HOST -e HUB_PORT_4444_TCP_PORT=${HUB_PO

[2017-08-18 18:22] barancev opened #540 "REMOTE_HOST is not replaceable with SE_OPTS"
@McSnowflake commented on [Fri Aug 18 2017](https://github.com/SeleniumHQ/selenium/issues/4501)

## Meta
OS:  Linux using Docker
Selenium Version:  3.4.0

## Summary
The removal of REMOTE_HOST breaks usage scenarios where port mapping is needed.

## Example
Setting up a selenium grid via docker as explained here:  #432.

It's essentially this
`docker run -d --name node101 -p XXXXXX:5555 -e HUB_POR

[2017-08-18 18:40] cstgyxlove opened #541 "Selenium hub with node chrome can not load URl of locahost."
## Meta -
Image(s):

Docker-Selenium Image Version(s):  Latest

OS:  OSX Yosemite

## Expected Behavior -
I want to use selenium to test my app. my app runs on docker and question is I will deploy it on jenkins. Since jenkins hasn't installed chrome. so I use selenium hub to do this.
The docker selenium works fine with public url, it can get element from website like google.com or github.com. But

[2017-08-19 19:16] Drimix20 commented on #541
Isn't this a problem caused by configuration of docker containers? If you want to have application available from your localhost and port 8000 than you have to configured port mapping to specific running container where you application is deployed (`docker run -d -p 8000:8000`). Because your application must be reachable from the docker container where selenium server is running. Do you have set i

[2017-08-20 21:04] cstgyxlove commented on #541
@Drimix20  I found the reason, it is because I didn't set one public url for my app. localhost is only for one container. I appreciated your response. Thank you.

[2017-08-20 21:05] #541 closed

[2017-08-21 07:19] McSnowflake commented on #481
@braindonor Hi, thx for the reply. You are using the same internal and external port, which is exactly the restriction, that I'm struggeling with.

[2017-08-21 08:08] McSnowflake commented on #540
@barancev I created this ticket at selenium intentionally, because the REMOTE_HOST param is not special for the docker images, but was a basic selenium feature. At least that's what I understood.

[2017-08-22 13:19] motou commented on #534
It could be also a problem of chrome with shm size and privilege mode. Please try to start the docker image with the parameter `--shm-size=2g --privileged `

[2017-08-24 08:21] persifal commented on #483
was the same problem with selenium. tried to download pdf\pdfx and was dying. Solved it with added ability to autodownload that files:
[code]

[2017-08-24 14:16] bhaku opened #542 "Latest release (hub:3.4.0-francium) from readme file is not available to download from docker hub"
Latest release 3.4.0-francium is not available on https://hub.docker.com/r/selenium/hub/tags/

## Expected Behavior -
`docker pull selenium/hub:3.4.0-francium `
Will download latest release from readme file.
## Actual Behavior -
`docker pull selenium/hub:3.4.0-francium`
Error response from daemon: manifest for selenium/hub:3.4.0-francium not found

[2017-08-24 16:41] lluisteamcmp commented on #528
Got also the same problem and easy to reproduce in several web pages plying VR videos or 'heavy' streaming.
Per example

[code]

And I got this error:

[code]

Also have to say that with image version 3.3.1 it does not happen. Could be something new related with 3.4.0?

Hope it helps to find a solution.

[2017-08-25 05:30] yangle94 opened #543 "Fonts-noto-cjk causes gson parsing to fail"
## Meta -
Image(s):

Docker-Selenium Image Version(s):  v.3.4.0

OS: OSX

## Expected Behavior -

## Actual Behavior -

when i use  Fonts-noto-cjk in base/dockerfile, like
tzdata \
    sudo \
    unzip \
    wget \
    fonts-noto-cjk \

have error
     Couldn't register this node: The hub is down or not responding: com.google.gson.stream.MalformedJsonException: Use JsonReader.setLenient(true) to a

[2017-08-28 11:30] bhaku commented on #542
@ddavison When you will release 3.4.0-francium?

[2017-08-28 18:08] ddavison commented on #542
yea - sometimes upon a release, the tests fail.  all that needed to be done is a re-push of the release.  done, and fixed.